<template>
  <div>
    <transition name="fade" appear>
      <div v-if="visible" class="la-z-75 la-inset-0 la-fixed la-bg-black la-bg-opacity-70" style="z-index: 9999"/>
    </transition>
    <transition name="pop" appear>
      <div v-if="visible" class="la-z-75 la-inset-0 la-fixed la-flex la-justify-center la-items-center" style="z-index: 9999">
        <slot />
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    persistent: {
      type: Boolean,
      default: false,
    },
  },
  mounted () {
    window.addEventListener('keydown', (e) => {
      if (e.key === 'Escape' && !this.persistent) {
        this.$emit('close');
      }
    })
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s linear;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.pop-enter-active,
.pop-leave-active {
  transition: transform 0.3s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.3s linear;
}

.pop-enter,
.pop-leave-to {
  opacity: 0;
  transform: scale(0);
}
</style>
