<template>
  <basic-modal :visible="visible" @close="$emit('close')">
    <div class="la-relative la-bg-white la-p-6 la-rounded-2xl la-gap-y-6 la-flex la-flex-col md:la-items-center la-mx-4">
      <p class="la-font-medium la-mr-8">
        Add to calendar
      </p>
      <a class="la-absolute la-right-6 la-top-4 la-text-2xl la-cursor-pointer" @click="$emit('close')">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.707 0.292893C16.0976 0.683417 16.0976 1.31658 15.707 1.70711L9.41418 7.99996L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L7.99997 9.41417L1.70711 15.707C1.31658 16.0976 0.683418 16.0976 0.292894 15.707C-0.0976304 15.3165 -0.0976305 14.6833 0.292894 14.2928L6.58575 7.99996L0.292981 1.70718C-0.0975431 1.31666 -0.0975432 0.683494 0.292981 0.292969C0.683505 -0.0975548 1.31667 -0.0975548 1.70719 0.29297L7.99997 6.58574L14.2928 0.292893C14.6833 -0.0976317 15.3165 -0.0976317 15.707 0.292893Z" fill="black"/>
        </svg>
      </a>

      <div class="la-mt-4 la-flex la-flex-row la-flex-wrap la-justify-center la-gap-2">
        <a
            v-for="item in enabledCalendarItems"
            :key="item.key"
            class="la-block"
            :href="itemHref(item)"
            target="_blank"
            :download="'localaway-event.ics'"
            :data-la-atx="'reminder.select'"
            :data-la-atx-payload="JSON.stringify(Object.assign({},
                                                             _atxContext,
                                                             {
                                                               calendar: item.key,
                                                               event_attrs: event,
                                                             }))"
        >
          <div
              class="la-flex la-items-center la-justify-center la-w-10 la-h-10 la-rounded-full la-border la-border-solid la-border-gray-200 hover:la-border-gray-400 hover:la-shadow la-transition-all"
          >
            <div
                class="la-w-6 la-h-6"
                v-html="item.icon_src"
            />
          </div>
        </a>
      </div>
    </div>
  </basic-modal>
</template>

<script>

import { CalendarsApi } from '../../utils/CalendarApi';
import BasicModal from './BasicModal.vue';

export default {
  name: 'AddCalendarEventModal',
  components: {
    BasicModal
  },
  props: {
    event: {
      type: Object,
      required: true,
    },
    visible: {
      type: Boolean,
      default: false,
    },
    context: {
      type: Object,
      default: () => ({
        context: undefined,
      }),
    },
  },
  computed: {
    _atxContext () {
      return (this.context && this.context.atxContext) || {};
    },
    calendarServices () {
      return [
        {
          is_disabled: false,
          key: 'apple_ical',
          icon_src: '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.7 56.7" style="enable-background:new 0 0 56.7 56.7;" xml:space="preserve">\n' +
              '<style type="text/css">\n' +
              '\t.st0{fill:none;}\n' +
              '\t.st1{fill:#606060;}\n' +
              '</style>\n' +
              '<g>\n' +
              '\t<title>background</title>\n' +
              '\t<rect x="-1" y="-1" class="st0" width="582" height="402"/>\n' +
              '</g>\n' +
              '<g>\n' +
              '\t<title>Layer 1</title>\n' +
              '\t<path class="st1" d="M41.8,30.5c-0.1-6.2,5.1-9.2,5.3-9.4c-2.9-4.2-7.4-4.8-9-4.9c-3.8-0.4-7.5,2.3-9.4,2.3c-1.9,0-4.9-2.2-8.1-2.1   c-4.2,0.1-8,2.4-10.2,6.2C6,30.1,9.3,41.2,13.5,47.3c2.1,3,4.5,6.3,7.8,6.2c3.1-0.1,4.3-2,8.1-2s4.8,2,8.1,2c3.4-0.1,5.5-3,7.5-6   c2.4-3.5,3.3-6.8,3.4-7C48.3,40.4,41.8,38,41.8,30.5z"/>\n' +
              '\t<path class="st1" d="M35.6,12.2c1.7-2.1,2.9-5,2.6-7.9c-2.5,0.1-5.5,1.6-7.2,3.7c-1.6,1.8-3,4.8-2.6,7.6   C31,15.9,33.9,14.3,35.6,12.2z"/>\n' +
              '</g>\n' +
              '</svg>\n',
          title: 'Add event to Apple iCal',
          href_cb: event => CalendarsApi.makeICalIcsUrl(event),
        },
        {
          key: 'google',
          icon_src: '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"\n' +
              '     style="enable-background:new 0 0 128 128;" xml:space="preserve">\n' +
              '<style type="text/css">\n' +
              '\t.st0{fill:none;}\n' +
              '\t.st1{fill:#FBBC05;}\n' +
              '\t.st2{fill:#EA4335;}\n' +
              '\t.st3{fill:#34A853;}\n' +
              '\t.st4{fill:#4285F4;}\n' +
              '</style>\n' +
              '<g>\n' +
              '\t<rect class="st0" width="128" height="128"/>\n' +
              '\t<path class="st1" d="M27.6,64c0-4.2,0.7-8.1,1.9-11.9L7.9,35.6C3.7,44.2,1.4,53.8,1.4,64c0,10.2,2.4,19.8,6.6,28.3l21.6-16.5   C28.3,72.1,27.6,68.1,27.6,64"/>\n' +
              '\t<path class="st2" d="M65.5,26.2c9,0,17.2,3.2,23.6,8.4L107.7,16C96.3,6.1,81.8,0,65.5,0C40.1,0,18.4,14.5,7.9,35.6l21.6,16.5   C34.5,37,48.6,26.2,65.5,26.2"/>\n' +
              '\t<path class="st3" d="M65.5,101.8c-16.8,0-31-10.9-35.9-25.9L7.9,92.4C18.4,113.5,40.1,128,65.5,128c15.6,0,30.6-5.6,41.8-16   L86.7,96.2C81,99.9,73.7,101.8,65.5,101.8"/>\n' +
              '\t<path class="st4" d="M126.6,64c0-3.8-0.6-7.9-1.5-11.6H65.5v24.7h34.4c-1.7,8.4-6.4,14.9-13.1,19.1l20.5,15.8   C119,101.1,126.6,84.9,126.6,64"/>\n' +
              '</g>\n' +
              '</svg>\n',
          title: 'Add event to Google Calendar',
          href_cb: event => CalendarsApi.makeGoogleUrl(event),
        },
        {
          // couldn't test Office-365, left it here for better times
          is_disabled: true,
          key: 'office365',
          icon_src: '<svg enable-background="new 0 0 2075 2499.8" viewBox="0 0 2075 2499.8" xmlns="http://www.w3.org/2000/svg"><path d="m0 2016.6v-1519.8l1344.4-496.8 730.6 233.7v2045.9l-730.6 220.3-1344.4-483.3 1344.4 161.8v-1769.2l-876.8 204.6v1198.3z" fill="#eb3c00"/></svg>',
          title: 'Add event to Office 365',
        },
        {
          is_disabled: false,
          key: 'outlook',
          icon_src: '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1024 1024"\n' +
              '     style="enable-background:new 0 0 1024 1024;" xml:space="preserve">\n' +
              '<style type="text/css">\n' +
              '\t.st0{fill:none;}\n' +
              '\t.st1{fill:#DAA603;}\n' +
              '</style>\n' +
              '<g>\n' +
              '\t<title>background</title>\n' +
              '\t<rect x="-1" y="-1" class="st0" width="582" height="402"/>\n' +
              '</g>\n' +
              '<g>\n' +
              '\t<title>Layer 1</title>\n' +
              '\t<path class="st1" d="M644.9,764.4V492.7c19.3,13.3,37.4,25.6,55.4,38c16.2,11.1,18.9,11,35.6-0.1c92.5-61.5,185-122.9,277.5-184.4   c2.8-1.9,5.7-3.6,9.8-6.1c0.3,4.2,0.8,7.4,0.8,10.5c0,118.2,0.1,236.4,0,354.7c0,39.3-19.9,59.1-59,59.1c-102.8,0-205.6,0-308.4,0   C652.9,764.4,649.2,764.4,644.9,764.4L644.9,764.4z"/>\n' +
              '\t<path class="st1" d="M645.6,216.9h10.5c108.6,0,217.1,0,325.7,0c19.4,0,34.4,11.9,40.5,30.5c2.7,8.2,0,12.2-6.7,16.6   c-84.1,56.3-168,112.9-252,169.4c-12,8.1-24.1,15.9-35.9,24.3c-6.4,4.6-12.2,4.8-18.8,0.5c-19.2-12.4-38.7-24.2-57.8-36.7   c-3.2-2.1-6.5-6.9-6.5-10.4c-0.3-63.5-0.2-127-0.1-190.5C644.5,219.8,644.9,219.1,645.6,216.9L645.6,216.9z"/>\n' +
              '\t<path class="st1" d="M596.7,1024C397.6,982.3,199.3,940.8,0.3,899.2v-13.1c0-252.5,0.1-505-0.3-757.5c0-10.5,2.8-14.1,13-16   c159.1-30.4,318.2-61.2,477.3-92C525.4,13.7,560.5,7,596.7,0L596.7,1024L596.7,1024z M438,511c-0.4-41.6-6.1-80-26.7-114.9   c-16.6-28.1-39-49.4-71.3-58.6c-62.8-17.9-122.8,11.5-152.4,75c-18.9,40.7-23,83.9-19.3,128.1c3.2,38.3,14.3,73.7,39,104   c49.1,60.2,138.4,60.6,188.2,0.8C428.4,605.8,437.4,558.7,438,511L438,511z"/>\n' +
              '\t<path class="st1" d="M232.9,511.9c-0.1-29.7,3.9-58.4,20.7-83.8c15.5-23.5,39-33.1,64.9-26.6c20.1,5,32.3,19.3,40.4,37.2   c13.8,30.7,16.2,63.3,12.1,95.9c-2.3,18.1-7.5,36.5-14.8,53.2c-9.5,21.6-27.8,34-52.2,34.5c-24.6,0.5-41.7-12.2-53.6-32.6   C236.3,565.8,232.9,539.2,232.9,511.9L232.9,511.9z"/>\n' +
              '</g>\n' +
              '</svg>\n',
          title: 'Import event into Outlook',
          href_cb: event => CalendarsApi.makeOutlookIcsUrl(event),
        },
        {
          key: 'outlook_online',
          icon_src: '<svg enable-background="new 0 0 1831.085 1703.335" version="1.1" viewBox="0 0 1831.1 1703.3" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">\n' +
              '<path d="m1831.1 894.25c0.1-14.318-7.298-27.644-19.503-35.131h-0.213l-0.767-0.426-634.49-375.58c-2.74-1.851-5.583-3.543-8.517-5.067-24.498-12.639-53.599-12.639-78.098 0-2.934 1.525-5.777 3.216-8.517 5.067l-634.49 375.58-0.766 0.426c-19.392 12.059-25.337 37.556-13.278 56.948 3.553 5.714 8.447 10.474 14.257 13.868l634.49 375.58c2.749 1.835 5.592 3.527 8.517 5.068 24.498 12.639 53.599 12.639 78.098 0 2.925-1.541 5.767-3.232 8.517-5.068l634.49-375.58c12.675-7.39 20.413-21.012 20.268-35.685z" fill="#0A2767"/>\n' +
              '<path d="m520.45 643.48h416.38v381.67h-416.38v-381.67zm1225.5-387.98v-174.59c1-43.652-33.552-79.862-77.203-80.908h-1080.5c-43.652 1.046-78.204 37.256-77.204 80.908v174.59l638.75 170.33 596.17-170.33z" fill="#0364B8"/>\n' +
              '<path d="M511,255.5h425.833v383.25H511V255.5z" fill="#0078D4"/>\n' +
              '<path d="m1362.7 255.5h-425.83v383.25l425.83 383.25h383.25v-383.25l-383.25-383.25z" fill="#28A8EA"/>\n' +
              '<path d="M936.833,638.75h425.833V1022H936.833V638.75z" fill="#0078D4"/>\n' +
              '<path d="M936.833,1022h425.833v383.25H936.833V1022z" fill="#0364B8"/>\n' +
              '<path d="m520.45 1025.2h416.38v346.97h-416.38v-346.97z" fill="#14447D"/>\n' +
              '<path d="M1362.667,1022h383.25v383.25h-383.25V1022z" fill="#0078D4"/>\n' +
              '<linearGradient id="b" x1="1128.5" x2="1128.5" y1="811.08" y2="1.9982" gradientTransform="matrix(1 0 0 -1 0 1705.3)" gradientUnits="userSpaceOnUse">\n' +
              '\t<stop stop-color="#35B8F1" offset="0"/>\n' +
              '\t<stop stop-color="#28A8EA" offset="1"/>\n' +
              '</linearGradient>\n' +
              '<path d="m1811.6 927.59-0.809 0.426-634.49 356.85c-2.768 1.703-5.578 3.321-8.517 4.769-10.777 5.132-22.481 8.029-34.407 8.517l-34.663-20.27c-2.929-1.47-5.773-3.105-8.517-4.897l-643.01-366.98h-0.298l-21.036-11.753v722.38c0.328 48.196 39.653 87.006 87.849 86.7h1230.9c0.724 0 1.363-0.341 2.129-0.341 10.18-0.651 20.216-2.745 29.808-6.217 4.145-1.756 8.146-3.835 11.966-6.217 2.853-1.618 7.75-5.152 7.75-5.152 21.814-16.142 34.726-41.635 34.833-68.772v-722.38c-0.014 13.817-7.466 26.557-19.502 33.343z" fill="url(#b)"/>\n' +
              '<path d="m1797 891.4v44.287l-663.45 456.79-686.87-486.17c0-0.235-0.191-0.426-0.426-0.426l-63.023-37.899v-31.938l25.976-0.426 54.932 31.512 1.277 0.426 4.684 2.981s645.56 368.35 647.27 369.2l24.698 14.478c2.129-0.852 4.258-1.703 6.813-2.555 1.278-0.852 640.88-360.68 640.88-360.68l7.241 0.427z" enable-background="new    " fill="#0A2767" opacity=".5"/>\n' +
              '<path d="m1811.6 927.59-0.809 0.468-634.49 356.85c-2.768 1.703-5.578 3.321-8.517 4.769-24.641 12.038-53.457 12.038-78.098 0-2.918-1.445-5.76-3.037-8.517-4.769l-634.49-356.85-0.766-0.468c-12.25-6.642-19.93-19.409-20.057-33.343v722.38c0.305 48.188 39.616 87.004 87.803 86.7h4e-3 1229.6c48.188 0.307 87.5-38.509 87.807-86.696v-4e-3 -722.38c-0.016 13.817-7.468 26.557-19.504 33.343z" fill="#1490DF"/>\n' +
              '<path d="m1185.5 1279.6-9.496 5.323c-2.752 1.752-5.595 3.359-8.517 4.812-10.462 5.135-21.838 8.146-33.47 8.857l241.4 285.48 421.11 101.48c11.539-8.716 20.717-20.178 26.7-33.343l-637.73-372.6z" enable-background="new    " opacity=".1"/>\n' +
              '<path d="m1228.5 1255.4-52.505 29.51c-2.752 1.752-5.595 3.359-8.517 4.812-10.462 5.135-21.838 8.146-33.47 8.857l113.1 311.84 549.54 74.989c21.649-16.254 34.394-41.743 34.407-68.815v-9.326l-602.55-351.86z" enable-background="new    " opacity=".05"/>\n' +
              '<path d="m514.83 1703.3h1228.3c18.901 0.096 37.335-5.874 52.59-17.033l-697.09-408.33c-2.929-1.47-5.773-3.105-8.517-4.897l-643.01-366.98h-0.298l-20.993-11.838v719.91c-0.048 49.2 39.798 89.122 88.999 89.169-1e-3 0-1e-3 0 0 0z" fill="#28A8EA"/>\n' +
              '<path d="m1022 418.72v908.3c-0.076 31.846-19.44 60.471-48.971 72.392-9.148 3.931-19 5.96-28.957 5.962h-518.24v-1022.1h85.167v-42.583h433.07c43.019 0.163 77.834 35.035 77.927 78.055z" enable-background="new    " opacity=".1"/>\n' +
              '<path d="m979.42 461.3v908.3c0.107 10.287-2.074 20.469-6.388 29.808-11.826 29.149-40.083 48.273-71.54 48.417h-475.66v-1064.6h475.66c12.356-0.124 24.533 2.958 35.344 8.943 26.104 13.151 42.574 39.883 42.584 69.112z" enable-background="new    " opacity=".2"/>\n' +
              '<path d="m979.42 461.3v823.14c-0.208 43-34.928 77.853-77.927 78.225h-475.66v-979.42h475.66c12.356-0.124 24.533 2.958 35.344 8.943 26.104 13.151 42.574 39.883 42.584 69.112z" enable-background="new    " opacity=".2"/>\n' +
              '<path d="m936.83 461.3v823.14c-0.046 43.067-34.861 78.015-77.927 78.225h-433.07v-979.42h433.07c43.062 0.023 77.951 34.951 77.927 78.013 1e-3 0.014 1e-3 0.028 1e-3 0.042z" enable-background="new    " opacity=".2"/>\n' +
              '<linearGradient id="a" x1="162.75" x2="774.09" y1="1383.1" y2="324.26" gradientTransform="matrix(1 0 0 -1 0 1705.3)" gradientUnits="userSpaceOnUse">\n' +
              '\t<stop stop-color="#1784D9" offset="0"/>\n' +
              '\t<stop stop-color="#107AD5" offset=".5"/>\n' +
              '\t<stop stop-color="#0A63C9" offset="1"/>\n' +
              '</linearGradient>\n' +
              '<path d="m78.055 383.25h780.72c43.109 0 78.055 34.947 78.055 78.055v780.72c0 43.109-34.946 78.055-78.055 78.055h-780.72c-43.109 0-78.055-34.947-78.055-78.055v-780.72c0-43.108 34.947-78.055 78.055-78.055z" fill="url(#a)"/>\n' +
              '<path d="m243.96 710.63c19.238-40.988 50.29-75.289 89.17-98.495 43.057-24.651 92.081-36.94 141.68-35.515 45.965-0.997 91.321 10.655 131.11 33.683 37.414 22.312 67.547 55.004 86.742 94.109 20.904 43.09 31.322 90.512 30.405 138.4 1.013 50.043-9.706 99.628-31.299 144.78-19.652 40.503-50.741 74.36-89.425 97.388-41.327 23.734-88.367 35.692-136.01 34.578-46.947 1.133-93.303-10.651-134.01-34.067-37.738-22.341-68.249-55.07-87.892-94.28-21.028-42.467-31.57-89.355-30.745-136.74-0.876-49.617 9.474-98.79 30.276-143.84zm95.046 231.23c10.257 25.912 27.651 48.385 50.163 64.812 22.93 16.026 50.387 24.294 78.353 23.591 29.783 1.178 59.14-7.372 83.634-24.358 22.227-16.375 39.164-38.909 48.715-64.812 10.677-28.928 15.946-59.572 15.543-90.404 0.33-31.127-4.623-62.084-14.649-91.554-8.855-26.607-25.246-50.069-47.182-67.537-23.88-17.79-53.158-26.813-82.91-25.55-28.572-0.74-56.644 7.593-80.184 23.804-22.893 16.496-40.617 39.168-51.1 65.365-23.255 60.049-23.376 126.6-0.341 186.73l-0.042-0.085z" fill="#fff"/>\n' +
              '<path d="m1362.7 255.5h383.25v383.25h-383.25v-383.25z" fill="#50D9FF"/>\n' +
              '</svg>\n',
          title: 'Add event to Outlook Calendar',
          href_cb: event => CalendarsApi.makeOutlookOnlineUrl(event),
        },
        {
          key: 'yahoo',
          icon_src: '<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512" fill="#4A089F"><path d="M223.69,141.06,167,284.23,111,141.06H14.93L120.76,390.19,82.19,480h94.17L317.27,141.06Zm105.4,135.79a58.22,58.22,0,1,0,58.22,58.22A58.22,58.22,0,0,0,329.09,276.85ZM394.65,32l-93,223.47H406.44L499.07,32Z"/></svg>\n',
          title: 'Add event to Yahoo Calendar',
          href_cb: event => CalendarsApi.makeYahooUrl(event),
        },
      ];
    },
    enabledCalendarItems () {
      return this.calendarServices.filter(item => !item.is_disabled);
    },
  },
  methods: {
    itemHref (item) {
      if (!item.href_cb) {
        return '#';
      }
      return item.href_cb(this.event);
    },
  },
}
</script>

<style scoped>

</style>
