<template>
  <basic-modal :visible="visible" @close="$emit('close')">
    <div
        v-if="!isLoading && !isSubmitted"
        style="z-index: 999"
        class="la-rounded-2xl la-relative la-rsvp-modal la-bg-white la-p-6 la-gap-y-4 la-flex la-flex-col md:la-items-center la-mt-auto md:la-mt-0"
    >
      <div class="la-w-full la-text-sm la-font-medium">
        <p class="la-text-center la-font-medium">
          RSVP for exclusive access!
        </p>
        <a class="la-text-gray-500 la-text-2xl la-cursor-pointer la-absolute la-top-4 la-right-5" @click="$emit('close')">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.707 0.292893C16.0976 0.683417 16.0976 1.31658 15.707 1.70711L9.41418 7.99996L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L7.99997 9.41417L1.70711 15.707C1.31658 16.0976 0.683418 16.0976 0.292894 15.707C-0.0976304 15.3165 -0.0976305 14.6833 0.292894 14.2928L6.58575 7.99996L0.292981 1.70718C-0.0975431 1.31666 -0.0975432 0.683494 0.292981 0.292969C0.683505 -0.0975548 1.31667 -0.0975548 1.70719 0.29297L7.99997 6.58574L14.2928 0.292893C14.6833 -0.0976317 15.3165 -0.0976317 15.707 0.292893Z" fill="black"/>
          </svg>
        </a>
      </div>
      <div class="la-rsvp-input"  @click="$refs.nameInput.focus()">
        <p class="la-rsvp-input--label">Name</p>
        <input type="text" placeholder="Enter your name" class="la-rsvp-input--input" ref="nameInput" required v-model="name">
      </div>
      <div class="la-rsvp-input"  @click="$refs.emailInput.focus()">
        <p class="la-rsvp-input--label">Email</p>
        <input type="text" placeholder="Enter your email" class="la-rsvp-input--input" ref="emailInput" required v-model="email">
      </div>
      <div class="la-rsvp-input"  @click="$refs.phoneInput.focus()" >
        <p class="la-rsvp-input--label">Phone</p>
        <input type="number" placeholder="Enter your phone" class="la-rsvp-input--input" ref="phoneInput" v-model="phone">
      </div>
      <button class="la-rsvp-submit" @click="onSubmit">
        Sign Up
      </button>
    </div>
    <div
        v-if="!isLoading && isSubmitted"
        style="z-index: 999"
        class="la-rounded-2xl la-relative la-rsvp-modal la-bg-white la-p-6 la-gap-y-4 la-flex la-flex-col md:la-items-center la-mt-auto md:la-mt-0"
    >
      <div class="la-w-full la-text-sm la-font-medium">
        <p class="la-text-center la-font-medium">
          RSVP
        </p>
        <a class="la-text-gray-500 la-text-2xl la-cursor-pointer la-absolute la-top-4 la-right-5" @click="$emit('close')">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.707 0.292893C16.0976 0.683417 16.0976 1.31658 15.707 1.70711L9.41418 7.99996L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L7.99997 9.41417L1.70711 15.707C1.31658 16.0976 0.683418 16.0976 0.292894 15.707C-0.0976304 15.3165 -0.0976305 14.6833 0.292894 14.2928L6.58575 7.99996L0.292981 1.70718C-0.0975431 1.31666 -0.0975432 0.683494 0.292981 0.292969C0.683505 -0.0975548 1.31667 -0.0975548 1.70719 0.29297L7.99997 6.58574L14.2928 0.292893C14.6833 -0.0976317 15.3165 -0.0976317 15.707 0.292893Z" fill="black"/>
          </svg>
        </a>
      </div>
      <div class="la-flex la-justify-center">
        <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M75 24.9997L45 24.9997C45 27.7611 42.7614 29.9997 40 29.9997C37.2386 29.9997 35 27.7612 35 24.9997L25 24.9997C19.4772 24.9997 15 29.4768 15 34.9997L15 44.9997L105 44.9997L105 34.9997C105 29.4768 100.523 24.9997 94.9999 24.9997L85 24.9997C85 27.7611 82.7614 29.9997 80 29.9997C77.2386 29.9997 75 27.7611 75 24.9997ZM5 34.9997C5 23.954 13.9543 14.9997 25 14.9997L35 14.9997C35.0002 12.2384 37.2387 10.0001 40 10.0001C42.7613 10.0001 44.9998 12.2384 45 14.9997L75 14.9997C75.0002 12.2384 77.2387 10 80 10C82.7613 10 84.9998 12.2384 85 14.9997L94.9999 14.9997C106.046 14.9997 115 23.954 115 34.9997L115 90C115 101.046 106.046 110 94.9999 110L25 110C13.9543 110 5.00003 101.046 5.00003 90L5 34.9997ZM105 90L105 54.9997L15 54.9997L15 90C15 95.5229 19.4772 100 25 100L94.9999 100C100.523 100 105 95.5229 105 90ZM65 75C65 77.7615 62.7614 80 60 80C57.2386 80 55 77.7615 55 75C55 72.2386 57.2386 70 60 70C62.7614 70 65 72.2386 65 75ZM80 80C82.7614 80 85 77.7615 85 75C85 72.2386 82.7614 70 80 70C77.2386 70 75 72.2386 75 75C75 77.7615 77.2386 80 80 80ZM45 75C45 77.7615 42.7614 80 40 80C37.2386 80 35 77.7615 35 75C35 72.2386 37.2386 70 40 70C42.7614 70 45 72.2386 45 75Z" fill="black"/>
        </svg>
      </div>
      <div>
        <p class="la-font-semibold la-text-center la-text-2xl">
          You’re in! RSVP registered.
        </p>
        <p class=" la-text-center la-text-sm">
          We will send you an email when live event starts.
        </p>
      </div>
      <button class="la-rsvp-submit" @click="addToCalendar">
        Add to Calendar
      </button>
      <button class="la-rsvp-submit la-rsvp-submit--outlined" @click="$emit('close')">
        Close
      </button>
    </div>
    <div
        v-if="isLoading"
        style="z-index: 999"
        class="la-rounded-2xl la-relative la-rsvp-modal la-bg-white la-p-6 la-gap-y-4 la-flex la-flex-col md:la-items-center la-mt-auto md:la-mt-0"
    >
      <loading-spinner />
    </div>
    <add-calendar-event-modal
        @close="showCalendarModal = false"
        :visible="showCalendarModal"
        :event="calendarEventAttrs"
    />
  </basic-modal>
</template>

<script>
import BasicModal from './BasicModal.vue';
import axiosClient from '../../utils/axiosClient';
import LoadingSpinner from '../utils/LoadingSpinner.vue';
import {CalendarsApi} from '../../utils/CalendarApi';
import AddCalendarEventModal from './CalendarShareModal.vue';
export default {
  components: {
    AddCalendarEventModal,
    LoadingSpinner,
    BasicModal
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
    }
  },
  data: () => ({
    name: '',
    email: '',
    phone: '',
    isLoading: false,
    isSubmitted: false,
    showCalendarModal: false,
  }),
  computed: {
    stream () {
      return this.$store.getters.ACTIVE_EVENT;
    },
    calendarEventAttrs () {
      return {
        title: this.stream.title,
        start: this.stream.calendar_event?.happens_at_utc || '',
        end:  this.stream.calendar_event?.happens_at_utc || '',
        timeFormat: 'YYYY-MM-DD HH:mm',
        timezone: this.stream.calendar_event?.api_extra?.client_timezone_google || this.stream.calendar_event?.timezone || '',
        url: `${window.location.href}?localaway_event=${this.encodedQuery}`,
        description: this.stream?.description || '',
      };
    },
    encodedQuery () {
      const payload = {
        event_id: this.stream.id,
        stylist_id: this.stream.user_id
      };

      return btoa(
          JSON.stringify(payload)
      );
    },
  },
  methods: {
    async addToCalendar () {
      this.showCalendarModal = true;
      return;
    },
   iOS() {
      return [
        'iPad Simulator',
        'iPhone Simulator',
        'iPod Simulator',
        'iPad',
        'iPhone',
        'iPod'
      ].includes(navigator.platform)
      // iPad on iOS 13 detection
      || (navigator.userAgent.includes("Mac") && "ontouchend" in document)
    },
    async onSubmit () {
      if (!this.name) {
        return this.$toast.error('Please enter your name');
      }
      if (!this.email) {
        return this.$toast.error('Please enter your email');
      }
      this.isLoading = true;
      const payload = {
        phone: this.phone,
        name: this.name,
        email: this.email,
      };
      await axiosClient.post(`/api/v2/join-club`, payload);
      this.isLoading = false;
      this.isSubmitted = true;
    },
  }
}
</script>

<style scoped>

.la-rsvp-modal {
  width: 450px;
}

@media (max-width: 550px) {
  .la-rsvp-modal {
    width: 100%;
  }
}

.la-rsvp-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  gap: 2px;
  position: relative;
  /* Grey/Semi-Dark */

  border: 1px solid #B6B6BF;
}

.la-rsvp-input--label {
  font-weight: 500;
  font-size: 9px;
  pointer-events: none;
  appearance: none;
}

.la-rsvp-input--input {
  border: none;
  outline: none;
  font-size: 14px;
}

.la-rsvp-submit {
  padding: 16px;

  width: 100%;

  background: #726DFD;
  border-radius: 25px;
  text-align: center;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.la-rsvp-submit--outlined {
  background: transparent;
  color: black;
  border: 1px solid #BFBFBF;

}

</style>
