<template>
  <div
      ref="chatContent"
      class="la-whitespace-normal la-py-1 la-px-2 la-rounded-xl la-flex la-items-center la-gap-x-2 la-overflow-hidden la-flex-shrink-0 la-rounded-lg"
      :style="{...getMessageStyles, maxWidth: '245px', minWidth: '225px'}"
  >
    <div class="la-flex la-justify-between la-items-center la-w-full">
      <div class="la-flex la-flex-col la-items-start">
        <p v-if="showMessageTitle" class="la-text-xs la-font-semibold" :class="[
            currentModalState === 'FULLSCREEN' ? 'la-opacity-50' : ''
        ]">
          <span v-if="getTitlePrefix" v-html="getTitlePrefix"/>
          <span v-html="message.title"/>
        </p>
        <p class="la-text-sm la-font-medium">
          <span v-if="getTextPrefix">
            {{ getTextPrefix }}
          </span>
          <span v-html="message.message_text"/>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import CHAT_MESSAGE_TYPES from '../../../contants/CHAT_MESSAGE_TYPES';

export default {
  props: {
    message: {
      type: Object,
      required: true
    }
  },
  data: () => ({}),
  computed: {
    currentModalState() {
      return this.$store.getters.CURRENT_MODAL_STATE;
    },
    showMessageTitle() {
      return [CHAT_MESSAGE_TYPES.TYPE_DEFAULT, CHAT_MESSAGE_TYPES.TYPE_SOLD_OUT, CHAT_MESSAGE_TYPES.TYPE_LOCALAWAY, CHAT_MESSAGE_TYPES.TYPE_ON_SALE]
          .includes(this.message.type);
    },
    getTextPrefix() {
      switch (this.message.type) {
        case CHAT_MESSAGE_TYPES.TYPE_USER_JOINED:
          return '👋';
        default:
          return '';
      }
    },
    getTitlePrefix() {
      switch (this.message.type) {
        case CHAT_MESSAGE_TYPES.TYPE_ON_SALE:
          return '🛍';
        case CHAT_MESSAGE_TYPES.TYPE_SOLD_OUT:
          return '😱';
        case CHAT_MESSAGE_TYPES.TYPE_LOCALAWAY:
          return '✪';
        default:
          return '';
      }
    },
    getMessageStyles() {
      let styles = {};
      switch (this.message.type) {
        case CHAT_MESSAGE_TYPES.TYPE_DEFAULT:
          styles = {
            backgroundColor: 'rgba(77, 77, 77, 0.3)',
            color: '#fff'
          };

          if (this.currentModalState === 'FULLSCREEN') {
            styles.backgroundColor = 'transparent';
            styles.color = '#000';
          }

          break;
        case CHAT_MESSAGE_TYPES.TYPE_USER_JOINED:
          styles = {
            background: 'rgba(221, 248, 46, 0.8)',
            color: '#000',
          };
          break;
        case CHAT_MESSAGE_TYPES.TYPE_ON_SALE:
          styles = {
            backgroundColor: 'rgba(255, 211, 248, 0.8)',
            color: '#000',
          };
          break;
        case CHAT_MESSAGE_TYPES.TYPE_SOLD_OUT:
          styles = {
            background: 'rgba(255, 207, 13, 0.8)',
            color: '#000'
          };
          break;
        case CHAT_MESSAGE_TYPES.TYPE_LOCALAWAY:
          styles = {
            backgroundColor: 'rgba(123, 97, 255, 0.8)',
            color: '#fff'
          }
          break;
      }
      return styles;
    }
  },
  methods: {}
}
</script>

<style scoped lang="css">

</style>
