<template>
  <l-div>
    <stylists-wrapper />
    <notification />
    <stylist-modal :state="showStylistModal"/>
    <login-modal :state="showLoginModal" @close="$setShowLoginModal(false)"/>
  </l-div>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from 'vuex';
import StylistsWrapper from './Stylists/StylistsWrapper.vue';
import StylistModal from './Stylists/StylistModal.vue';
import LoginModal from './Stylists/LoginModal.vue';
import MODAL_STATES from '../contants/MODAL_STATES';
import Notification from './utils/Notification.vue';
export default {
  data: () => ({
    showStylistModal: false,
  }),
  components: {
    StylistsWrapper, StylistModal, LoginModal, Notification
  },
  computed: {
    ...mapGetters({
      'stylists': 'STYLISTS',
      'chosenStylist': 'CHOSEN_STYLIST',
      'showLoginModal': 'showLoginModal',
      'currentModalState': 'CURRENT_MODAL_STATE'
    }),
    queryStreamId () {
      const urlParams = new URLSearchParams(window.location.search);
      return urlParams.get('streamId') ? +urlParams.get('streamId') : null;
    }
  },
  async mounted() {
    await this.$restorePreviousState();
    this.syncWithQuery();
  },
  methods: {
    ...mapActions({
      '$restorePreviousState': 'RESTORE_PREVIOUS_STATE',
      $chooseStylist: 'CHOOSE_STYLIST',
    }),
    ...mapMutations({
      '$setShowLoginModal': 'setShowLoginModal'
    }),
    syncWithQuery () {
      if (this.queryStreamId && this.stylists) {
        let streams = [];
        this.stylists.forEach(stylist => {
          stylist.events.forEach(event => {
            if (event.event_type === 'stream') {
              streams.push(event);
            }
          })
        });
        let needle = streams.find(s => s.id === this.queryStreamId);
        if (needle) {
          const stylist = this.stylists.find(v => v.id === needle.user_id);
          if (!this.chosenStylist) {
            this.$chooseStylist({...stylist, needleEventId: this.queryStreamId});
          }
        }
      }
    },
  },
  watch: {
    chosenStylist (val) {
      this.showStylistModal = !!val;
    },
    currentModalState: {
      immediate: true,
      handler: function (value) {
        const body = document.body;
        switch (value) {
          case MODAL_STATES.DEFAULT:
            body.style.overflowY = 'hidden';
            break;
          case MODAL_STATES.FULLSCREEN:
            body.style.overflowY = 'hidden';
            break;
          case MODAL_STATES.MINIMIZED:
            body.style.overflowY = null;
            break;
          default:
            body.style.overflowY = null;
            break;
        }
      }
    },

  }
}
</script>

<style scoped>

</style>
