<template>
  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" v-bind="$attrs">
    <path d="M18.8675 8.68708C18.5351 8.68708 18.2649 8.57983 18.0571 8.36534C17.8424 8.15084 17.7351 7.88099 17.7351 7.55579V6.81889L17.9532 3.55994L15.5325 6.10275L12.5403 9.12299C12.3255 9.33749 12.0623 9.44473 11.7506 9.44473C11.3974 9.44473 11.11 9.33749 10.8883 9.12299C10.6597 8.90849 10.5455 8.62827 10.5455 8.2823C10.5455 8.12316 10.5766 7.9744 10.639 7.83601C10.6944 7.69071 10.774 7.56271 10.8779 7.452L13.8909 4.4629L16.4364 2.04463L13.1636 2.26258H12.3636C12.0381 2.26258 11.768 2.1588 11.5532 1.95122C11.3385 1.73672 11.2312 1.46341 11.2312 1.13129C11.2312 0.806089 11.3385 0.536239 11.5532 0.321744C11.761 0.107248 12.0312 0 12.3636 0H18.1195C18.7152 0 19.1792 0.166061 19.5117 0.498184C19.8372 0.823387 20 1.28006 20 1.86819V7.55579C20 7.87407 19.8926 8.14392 19.6779 8.36534C19.4632 8.57983 19.1931 8.68708 18.8675 8.68708ZM7.63636 20H1.88052C1.28485 20 0.824244 19.8339 0.498703 19.5018C0.166235 19.1766 0 18.7165 0 18.1214V12.4442C0 12.119 0.110823 11.8492 0.332468 11.6347C0.547188 11.4202 0.817316 11.3129 1.14286 11.3129C1.46147 11.3129 1.72814 11.4202 1.94286 11.6347C2.15758 11.8492 2.26494 12.119 2.26494 12.4442V13.1811L2.04675 16.4401L4.47792 13.8869L7.45974 10.877C7.66753 10.6625 7.9342 10.5553 8.25974 10.5553C8.60606 10.5553 8.89351 10.6625 9.12208 10.877C9.35065 11.0915 9.46494 11.3717 9.46494 11.7177C9.46494 11.8768 9.43723 12.0291 9.38182 12.1744C9.31948 12.3127 9.22944 12.4373 9.11169 12.548L6.11948 15.5371L3.55325 17.9554L6.83636 17.7374H7.63636C7.96191 17.7374 8.2355 17.8447 8.45714 18.0592C8.67186 18.2737 8.77922 18.5435 8.77922 18.8687C8.77922 19.1939 8.67186 19.4638 8.45714 19.6783C8.2355 19.8928 7.96191 20 7.63636 20Z" fill="white"/>
  </svg>
</template>

<script>
export default {
  data: () => ({}),
  computed: {},
  methods: {}
}
</script>
