<template>
  <svg width="48" height="24" viewBox="0 0 48 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="48" height="24" rx="5" fill="#E81313"/>
    <path d="M8 18H15.0186V15.9293H10.2454V6H8V18Z" fill="white"/>
    <path d="M17.0558 18H19.3011V6H17.0558V18Z" fill="white"/>
    <path d="M24.7138 18H27.4796L31.0558 6H28.5279L26.1636 15.2058H26.0297L23.658 6H21.1375L24.7138 18Z" fill="white"/>
    <path d="M32.8922 18H40V15.9293H35.1375V12.894H39.7249V10.9647H35.1375V8.07069H40V6H32.8922V18Z" fill="white"/>
  </svg>
</template>

<script>
export default {
  data: () => ({}),
  computed: {},
  methods: {}
}
</script>
