<template>
  <svg width="87" height="18" v-bind="$attrs" viewBox="0 0 87 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path opacity="0.9" d="M7.4 15V12.42H3.56V0.66H0.92V15H7.4ZM12.5363 15.22C15.0363 15.22 16.6763 13.84 16.6763 10.86V4.84C16.6763 1.9 15.0363 0.48 12.5363 0.48C10.0363 0.48 8.39625 1.9 8.39625 4.84V10.86C8.39625 13.88 9.97625 15.22 12.5363 15.22ZM12.5363 12.82C11.4763 12.82 11.0763 12.12 11.0763 10.66V4.96C11.0763 3.5 11.4763 2.78 12.5363 2.78C13.5763 2.78 13.9963 3.46 13.9963 4.96V10.66C13.9963 12.12 13.5763 12.82 12.5363 12.82ZM22.28 15.22C24.9 15.22 26.38 13.96 26.4 10.94V8.92H23.64V10.76C23.64 12.14 23.32 12.8 22.3 12.8C21.24 12.8 20.92 12.12 20.92 10.66V4.94C20.92 3.48 21.24 2.78 22.28 2.78C23.38 2.78 23.64 3.32 23.64 4.82V6.38H26.38V4.62C26.38 1.74 25.04 0.459999 22.3 0.459999C19.8 0.459999 18.24 1.84 18.24 4.78V10.86C18.24 13.88 19.62 15.22 22.28 15.22ZM31.2959 5.84L31.4559 3.84L31.6159 5.84L32.5559 10.62H30.3959L31.2959 5.84ZM33.4159 15H35.9959L32.7359 0.66H30.1559L26.9759 15H29.5559L29.9559 12.88H32.9959L33.4159 15ZM43.5328 15V12.42H39.6928V0.66H37.0528V15H43.5328ZM45.5355 17.58C47.5155 17.42 48.4155 16.16 48.4155 13.98C48.4155 12.24 48.0355 11.86 46.8555 11.86C45.7155 11.86 45.3155 12.18 45.3155 13.52C45.3155 14.86 45.6955 15.1 46.5755 15.1C46.6755 15.1 46.7555 15.1 46.8555 15.08C46.7555 15.8 46.3155 16.2 45.5355 16.3V17.58ZM53.7959 5.84L53.9559 3.84L54.1159 5.84L55.0559 10.62H52.8959L53.7959 5.84ZM55.9159 15H58.4959L55.2359 0.66H52.6559L49.4759 15H52.0559L52.4559 12.88H55.4959L55.9159 15ZM64.1763 7.02L64.3363 4.76L64.4963 7.02L65.9963 15H68.3563L70.8763 0.66H68.4163L67.1763 8.64L66.9963 11.44L66.7563 8.8L65.2363 0.66H63.5163L61.8963 8.8L61.6163 11.26L61.5163 8.64L60.4163 0.66H57.9363L60.1963 15H62.5763L64.1763 7.02ZM74.5967 5.84L74.7567 3.84L74.9167 5.84L75.8567 10.62H73.6967L74.5967 5.84ZM76.7167 15H79.2967L76.0367 0.66H73.4567L70.2767 15H72.8567L73.2567 12.88H76.2967L76.7167 15ZM83.7055 15V9.86L86.7255 0.66H84.0655L82.5655 5.86L82.4055 7.08L82.2455 5.86L80.8055 0.66H78.1255L81.0455 9.86V15H83.7055Z" fill="white"/>
  </svg>

</template>

<script>
export default {
  data: () => ({}),
  computed: {},
  methods: {}
}
</script>
