<template>
  <svg width="28" height="9" viewBox="0 0 28 9" fill="none" xmlns="http://www.w3.org/2000/svg" v-bind="$attrs">
    <path d="M2.46909 0.315363H0.719727L3.94356 8.80593H5.89285L9.11668 0.315363H7.36732L5.18061 6.12534C5.03066 6.54987 5.05565 7.14421 5.05565 7.60512H4.78075C4.78075 7.14421 4.81824 6.54987 4.6558 6.12534L2.46909 0.315363Z" fill="black"/>
    <path d="M9.85671 1.83154H11.5186V0.315363H9.85671V1.83154ZM9.94418 8.80593H11.4561V2.74124H9.94418V8.80593Z" fill="black"/>
    <path d="M14.2488 0.0121292L12.7244 0V8.7938L14.2488 8.80593V8.36927C14.2488 8.00539 14.0364 7.58086 13.924 7.22911L14.1864 7.14421C14.2988 7.49596 14.3613 7.99326 14.6237 8.24798C15.086 8.72102 15.7233 9 16.548 9C18.4223 9 19.7343 7.59299 19.6844 5.79784C19.6469 4.05121 18.3473 2.5593 16.5605 2.5593C15.7233 2.5593 15.086 2.87466 14.6362 3.33558C14.3738 3.60243 14.2988 4.09973 14.1864 4.43935L13.9115 4.35445C14.0364 4.0027 14.2488 3.57817 14.2488 3.21429V0.0121292ZM16.3481 7.60512C15.186 7.60512 14.5362 6.84097 14.5362 5.8221C14.5362 4.7911 15.186 3.94205 16.3481 3.94205C17.5102 3.94205 18.1599 4.7911 18.1599 5.8221C18.1599 6.84097 17.5102 7.60512 16.3481 7.60512Z" fill="black"/>
    <path d="M24.0692 9C26.031 9 26.9556 7.70216 27.1431 7.07143H25.3937C25.2687 7.37466 24.7564 7.72642 23.9192 7.72642C22.6322 7.72642 22.0074 6.88949 22.0074 6.22237L27.268 6.2345C27.2805 6.12534 27.2805 5.83423 27.2805 5.71294C27.293 4.03908 25.9435 2.5593 23.7693 2.5593C21.6575 2.5593 20.1706 3.92992 20.1706 5.7372C20.1706 7.54447 21.5326 9 24.0692 9ZM22.0074 5.22776C22.0074 4.46361 22.7446 3.73585 23.8068 3.73585C24.8564 3.73585 25.4936 4.39084 25.4936 5.22776H22.0074Z" fill="black"/>
  </svg>

</template>

<script>
export default {
  data: () => ({}),
  computed: {},
  methods: {}
}
</script>
