<template>
  <svg v-bind="$attrs" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="1" y="3" width="19" height="15" rx="2" stroke="white" stroke-width="2"/>
    <rect x="10" y="10" width="14" height="12" rx="2" fill="white"/>
  </svg>
</template>

<script>
export default {
  data: () => ({}),
  computed: {},
  methods: {}
}
</script>

<style scoped>

</style>
