<template>
  <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg" v-bind="$attrs">
    <path d="M1.3082 16H3.55082C3.97705 16 4.30164 15.8887 4.52459 15.6661C4.74754 15.4434 4.85902 15.116 4.85902 14.6839V1.30632C4.85902 0.86106 4.74754 0.533661 4.52459 0.324125C4.30164 0.108042 3.97705 0 3.55082 0H1.3082C0.87541 0 0.547541 0.111316 0.32459 0.333947C0.108197 0.556579 0 0.880704 0 1.30632V14.6839C0 15.116 0.108197 15.4434 0.32459 15.6661C0.547541 15.8887 0.87541 16 1.3082 16ZM8.45902 16H10.6918C11.1246 16 11.4492 15.8887 11.6656 15.6661C11.8885 15.4434 12 15.116 12 14.6839V1.30632C12 0.86106 11.8885 0.533661 11.6656 0.324125C11.4492 0.108042 11.1246 0 10.6918 0H8.45902C8.02623 0 7.69836 0.111316 7.47541 0.333947C7.25246 0.556579 7.14098 0.880704 7.14098 1.30632V14.6839C7.14098 15.116 7.25246 15.4434 7.47541 15.6661C7.69836 15.8887 8.02623 16 8.45902 16Z" fill="white"/>
  </svg>
</template>

<script>
export default {
  data: () => ({}),
  computed: {},
  methods: {}
}
</script>
