<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" v-bind="$attrs">
    <path d="M21.6939 4.15687C21.6939 4.15687 21.6939 4.16625 21.6939 4.17094L16.2376 22.1653C16.155 22.4576 15.985 22.7176 15.7504 22.9105C15.5158 23.1034 15.2278 23.2199 14.9251 23.2444C14.882 23.2481 14.8389 23.25 14.7957 23.25C14.512 23.2509 14.234 23.1706 13.9945 23.0186C13.7549 22.8666 13.5639 22.6492 13.4439 22.3922L10.0961 15.3244C10.063 15.2545 10.0524 15.176 10.0656 15.0998C10.0789 15.0236 10.1154 14.9534 10.1701 14.8988L15.5382 9.52969C15.673 9.38789 15.7469 9.19908 15.7444 9.00351C15.7419 8.80794 15.6631 8.62108 15.5248 8.48278C15.3865 8.34448 15.1997 8.26567 15.0041 8.26317C14.8085 8.26067 14.6197 8.33466 14.4779 8.46937L9.10137 13.8375C9.04672 13.8922 8.97649 13.9287 8.90029 13.942C8.8241 13.9552 8.74566 13.9446 8.67574 13.9116L1.64449 10.5806C1.36835 10.4541 1.13595 10.2485 0.97674 9.98982C0.817528 9.73114 0.738657 9.43103 0.750116 9.1275C0.765386 8.81553 0.878328 8.51626 1.07297 8.27198C1.26762 8.02771 1.53412 7.85079 1.8348 7.76625L19.8292 2.31H19.8432C20.0994 2.23802 20.3702 2.2355 20.6277 2.30269C20.8852 2.36988 21.1202 2.50437 21.3085 2.69235C21.4969 2.88034 21.6319 3.11506 21.6996 3.37242C21.7673 3.62978 21.7653 3.90053 21.6939 4.15687Z" fill="black"/>
  </svg>
</template>

<script>
export default {
  data: () => ({}),
  computed: {},
  methods: {}
}
</script>

<style scoped lang="css">

</style>
