<template>
  <l-div id="localaway">
    <plugin-root v-if="IS_APP_READY && !hasError"/>
  </l-div>
</template>

<script>
import PluginRoot from './components/PluginRoot.vue';
import {mapGetters} from 'vuex';
export default {
  components: {PluginRoot},
  data: () => ({
    hasError: false,
    echoChatBroadcastChannelName: 'localaway-development',
  }),
  computed: {
    ...mapGetters({
      'IS_APP_READY': 'IS_APP_READY',
      stylists: 'STYLISTS'
    })
  },
  methods: {
    _listenStreamEvents () {
      this.$echo
          .channel(this.echoChatBroadcastChannelName)
          .listen('.stream.started', response => {
            console.log(response);
            const stylistId = response.user_id;
            const findIndex = this.stylists.findIndex(s => s.id === stylistId);
            if (findIndex !== -1) {
              this.$store.commit('STREAM_WAS_STARTED', response);
            }
          })
    },
  },
  async mounted() {
    try {
      await this.$store.dispatch('GET_INITIAL');
      window.addEventListener('resize', () => {
        let vh = window.innerHeight * 0.01;
        document.documentElement.style.setProperty('--vh', `${vh}px`);
      });
      this._listenStreamEvents();
    } catch (e) {
      this.hasError = true;
      // console.log(e);
    }
  }
};
</script>

<style>
.la-z-999 {
  z-index: 999;
}
</style>
