@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind components;
@tailwind utilities;

#localaway *{
    font-family: Poppins, sans-serif;
}

#localaway p {
    margin: 0;
}

#localaway * {
    box-sizing: border-box;
}

.lclwy-hidden-scroll::-webkit-scrollbar {
    display: none;
}
