<template>
  <div class="la-w-full la-h-full la-relative">
    <div>
      <stream-countdown />
    </div>
    <stream-contact-form v-if="currentModalState === 'DEFAULT'"/>
    <div class="la-absolute la-inset-0">
      <img :src="stream.avatar" :alt="stream.title" class="la-w-full la-h-full la-object-cover la-opacity-20">
    </div>
  </div>
</template>

<script>
import StreamContactForm from './StreamContactForm.vue';
import StreamCountdown from './StreamCountdown.vue';
import {mapGetters} from 'vuex';
export default {
  components: {StreamContactForm, StreamCountdown},
  data: () => ({}),
  props: {
    stream: Object
  },
  computed: {
    ...mapGetters({
      'currentModalState': 'CURRENT_MODAL_STATE',
    }),
  },
  methods: {}
}
</script>

<style scoped>

</style>
