<template>
  <div>
    <transition name="fade" appear>
      <div v-if="state" class="la-z-20 la-inset-0 la-fixed la-bg-black la-bg-opacity-50"/>
    </transition>
    <transition name="pop" appear>
      <div
          v-if="state"
          class="la-z-999 la-fixed la-top-1/2 la-left-1/2"
          style="transform: translate(-50%, -50%)"
      >
        <div class="la-rounded-xl la-relative la-w-96 la-bg-white la-p-6 la-gap-y-6 la-flex la-flex-col la-md:items-center">
          <p class="la-font-medium">
            Join the chat
          </p>
          <a class="la-absolute la-right-6 la-top-4 la-text-2xl la-cursor-pointer" @click="$emit('close')">&times;</a>
          <div class="la-flex la-flex-col la-border la-border-solid la-border-gray-300 la-rounded-lg la-w-full la-p-3.5">
            <input
                v-model.trim="name"
                type="text"
                placeholder="Chat username"
                class="la-text-sm  la-outline-none la-border-none"
                maxlength="20"
                autofocus
            >
          </div>
          <p class="la-text-sm la-text-gray-500">
            By joining the chat you will agree to respect other users.
          </p>
          <button class="la-cursor-pointer la-p-4 la-rounded-full la-w-full la-text-sm la-bg-black la-text-white la-uppercase" @click="setChatName">
            Join Chat
          </button>
        </div>

      </div>
    </transition>
  </div>
</template>

<script>
import {mapMutations} from 'vuex';

export default {
  data: () => ({
    name: '',
  }),
  computed: {},
  methods: {
    ...mapMutations({
      '$setChatName': 'setChatName'
    }),
    setChatName () {
      this.$setChatName(this.name);
      this.$emit('close');
    }
  },
  props: {
    state: {
      type: Boolean,
      required: true
    }
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s linear;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.pop-enter-active,
.pop-leave-active {
  transition: transform 0.3s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.3s linear;
}

.pop-enter,
.pop-leave-to {
  opacity: 0;
  transform: scale(0);
}
</style>
