<template>
  <div v-if="isCountdownShown" id="la-stream-countdown">
    <div v-if="!isStreamStartTimeIsUnknown && isDefaultScreenView" class="la-w-full la-h-full la-flex la-justify-center la-items-center">
      <div class="la-mx-auto la-text-center la-rounded-xl la-font-medium">
        <p class="la-text-white la-text-sm la-opacity-75">
          LIVE SOON
        </p>
        <div class="la-flex la-justify-center la-mt-2">
          <div class="la-flex la-justify-center la-pl-1.5" v-if="!hasDays">
            <div
                v-for="(item, idx) of visibleCountdownData"
                :key="item.name"
                class="la-flex la-items-center la-text-center la-w-full"
            >
              <p class="la-font-medium la-text-5xl la-text-white la-text-center">
                {{ item.value }}
              </p>
              <p v-if="idx !== 2" class="la-text-white la-text-xl md:la-text-3xl la-font-semibold la-px-3 la-opacity-75">
                :
              </p>
            </div>
          </div>
          <div v-if="hasDays">
            <p class="la-font-medium la-text-4xl la-text-white la-text-center la-whitespace-nowrap">
              {{ visibleCountdownData[0].value }} <span>DAY{{ visibleCountdownData[0].value === '01' ? '' : 'S'}}</span>
              {{ visibleCountdownData[1].value }} HOUR<span>{{ visibleCountdownData[1].value === '01' ? '' : 'S'}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div v-if="(isTimerFinished || isStreamStartTimeIsUnknown) && isDefaultScreenView" class="la-w-full la-h-full la-flex la-justify-center la-items-center">
      <div class="la-mx-auto la-text-center la-rounded-xl la-font-medium">
        <p class="la-text-white la-text-sm la-opacity-75 la-uppercase">
          Coming soon
        </p>
      </div>
    </div>
    <div v-if="!isDefaultScreenView" class="la-p-3">
      <p class="la-text-white la-text-sm la-opacity-75 la-hidden md:la-inline-block la-text-center la-w-full">
        LIVE SOON
      </p>
      <div class="la-flex la-justify-center la-pl-1.5 la-pr-0 la-py-0" v-if="!hasDays">
        <div
            v-for="(item, idx) of visibleCountdownData"
            :key="item.name"
            class="la-flex la-items-center la-text-center la-w-full la-p-0"
        >
          <p class="la-font-medium la-text-2xl md:la-text-5xl la-text-white la-text-center la-leading-6">
            {{ item.value }}
          </p>
          <p v-if="idx !== 2" class="la-text-white la-text-xl la-leading-5 md:la-text-3xl md:la-leading-7 la-font-semibold la-px-1.5 la-opacity-75">
            :
          </p>
        </div>
      </div>
      <div v-if="hasDays">
        <p class="la-font-medium la-text-2xl la-text-white la-text-center la-leading-6 la-whitespace-nowrap">
          {{ visibleCountdownData[0].value }} <span>DAY{{ visibleCountdownData[0].value === '01' ? '' : 'S'}}</span>
          {{ visibleCountdownData[1].value }} HOUR<span>{{ visibleCountdownData[1].value === '01' ? '' : 'S'}}</span>
        </p>
      </div>
      <div class="la-w-full la-justify-center la-mt-2 la-transform -la-scale-75 la-flex md:la-hidden">
        <logo-white :width="70" :height="12" />
      </div>
    </div>
  </div>
</template>

<script>
import STREAM_STATUS from '../../contants/STREAM_STATUS';
import { capitalizeFirstLetter } from '../../utils/helpers';
import moment from 'moment-timezone';

export default {
  data: () => ({
    countdownTimer: null,
    initialStartTime: null,
    currentTime: null,
    timezone: null,
    countdownData: [],
    wrongDateFormat: false,
    isTimerFinished: false,
  }),
  computed: {
    isDefaultScreenView () {
      return this.$store.getters.CURRENT_MODAL_STATE === 'DEFAULT';
    },
    visibleCountdownData () {
      return this.countdownData.filter((c) => {
        return !(c.name === 'Days' && (c.value === 0 || c.value === '00'));
      })
    },
    hasDays () {
      return this.visibleCountdownData.length === 4;
    },
    visibleCountdownDataWithoutSeconds () {
      if (this.visibleCountdownData.length === 3) {
        return this.visibleCountdownData;
      }
      return this.visibleCountdownData.filter(v => v.name !== 'Sec');
    },
    isStreamStartTimeIsUnknown () {
      return !this.stream || !this.stream?.calendar_event?.happens_at_utc || this.wrongDateFormat || this.isTimerFinished;
    },
    stream () {
      return this.$store.getters.ACTIVE_EVENT;
    },
    isCountdownShown () {
      return !!this.stream && this.stream.status === STREAM_STATUS.PLANNED;
    }
  },
  mounted() {
    this._countdownInit();
  },
  beforeDestroy() {
    this._countdownDestroy();
  },
  methods: {
    _countdownInit () {
      if (!this.stream || !this.isCountdownShown || this.isStreamStartTimeIsUnknown) {
        return null;
      }
      this.initialStartTime = this.stream?.calendar_event?.happens_at_utc;
      this.timezone = moment.tz.guess();
      this.initialStartTime = moment.utc(this.initialStartTime).tz(this.timezone).unix();
      const currentTime = moment.tz(this.timezone).unix();
      const diffTime = this.initialStartTime - currentTime;
      if (diffTime < 0) {
        this.wrongDateFormat = true;
        this.isTimerFinished = true;
      }
      let duration = moment.duration(diffTime * 1000, 'milliseconds');
      const interval = 1000;
      this.countdownTimer = setInterval(() => {
        duration = moment.duration(duration - interval, 'milliseconds');
        if (duration <= 0) {
          this.isTimerFinished = true;
        }
        this.countdownData = [
          { value: 'days', name: 'days' },
          { value: 'hours', name: 'hours' },
          { value: 'minutes', name: 'min' },
          { value: 'seconds', name: 'sec' },
        ].map((counter) => {
          let value = duration[counter.value]();
          if (value < 10) {
            value = `0${value}`
          }
          return {
            value,
            name: capitalizeFirstLetter(counter.name)
          }
        });
      }, 1000);
    },
    _countdownDestroy () {
      if (this.countdownTimer) {
        clearInterval(this.countdownTimer);
        this.countdownTimer = null;
      }
    },
  }
}
</script>

<style scoped>

</style>
