<template>
  <div>
    <stylist-chat-messages class="md:la-opacity-0 la-pb-9"/>
    <div v-if="isEventFinished" class="la-w-full la-h-full la-bg-black la-absolute la-inset-0 la-z-20 la-flex la-flex-col la-justify-center la-items-center">
      <span class="la-text-6xl">
        📺
      </span>
      <p class="la-text-white la-font-semibold la-py-4 la-text-2xl">
        Event ended
      </p>
      <p class="la-text-white la-pt-2 la-text-center">
        You have 24 hours left to take advantage of this sale!
      </p>
      <button @click.stop="$chooseStylist(null)" class="la-bg-white la-rounded-full la-py-4 la-px-8 la-font-semibold la-cursor-pointer la-mt-8">
        Close
      </button>
    </div>
    <div class="la-absolute la-inset-x-0 la-top-0 la-p-5 la-flex la-justify-between la-z-10">
      <button
          class="la-w-6 la-h-6 la-flex la-justify-center la-items-center la-border-none la-bg-transparent la-cursor-pointer"
          @click="disableFullScreen"
      >
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.707 0.292893C16.0976 0.683417 16.0976 1.31658 15.707 1.70711L9.41418 7.99996L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L7.99997 9.41417L1.70711 15.707C1.31658 16.0976 0.683418 16.0976 0.292894 15.707C-0.0976304 15.3165 -0.0976305 14.6833 0.292894 14.2928L6.58575 7.99996L0.292981 1.70718C-0.0975431 1.31666 -0.0975432 0.683494 0.292981 0.292969C0.683505 -0.0975548 1.31667 -0.0975548 1.70719 0.29297L7.99997 6.58574L14.2928 0.292893C14.6833 -0.0976317 15.3165 -0.0976317 15.707 0.292893Z" fill="white"/>
        </svg>
      </button>
      <div class="la-flex la-flex-col la-items-center">
        <button
            @click="$emit('mute')"
            style="width: 50px; height: 50px;"
            class="la-border-none la-rounded-full la-bg-transparent la-flex la-justify-center la-items-center la-cursor-pointer"
        >
          <svg v-if="!isMuted" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5781 2.32493C14.4521 2.26411 14.3115 2.23978 14.1723 2.2547C14.0332 2.26961 13.9009 2.32316 13.7906 2.40931L7.24688 7.49993H3C2.60218 7.49993 2.22064 7.65797 1.93934 7.93927C1.65804 8.22058 1.5 8.60211 1.5 8.99993V14.9999C1.5 15.3978 1.65804 15.7793 1.93934 16.0606C2.22064 16.3419 2.60218 16.4999 3 16.4999H7.24688L13.7906 21.5906C13.9221 21.6926 14.0835 21.7486 14.25 21.7499C14.3635 21.7486 14.4753 21.723 14.5781 21.6749C14.7061 21.6152 14.8141 21.5197 14.889 21.3999C14.9638 21.2801 15.0024 21.1412 15 20.9999V2.99993C14.999 2.8594 14.9591 2.7219 14.8846 2.60273C14.8101 2.48356 14.704 2.38739 14.5781 2.32493ZM21.0562 6.69369C20.9861 6.62413 20.9029 6.56907 20.8114 6.53166C20.72 6.49425 20.6221 6.47522 20.5232 6.47565C20.4244 6.47609 20.3267 6.49598 20.2356 6.5342C20.1444 6.57241 20.0617 6.6282 19.9922 6.69837C19.9226 6.76855 19.8676 6.85174 19.8302 6.94319C19.7928 7.03464 19.7737 7.13257 19.7742 7.23137C19.7746 7.33018 19.7945 7.42794 19.8327 7.51905C19.8709 7.61017 19.9267 7.69288 19.9969 7.76243C21.1195 8.88883 21.7499 10.4143 21.7499 12.0046C21.7499 13.5949 21.1195 15.1204 19.9969 16.2468C19.9263 16.3158 19.8702 16.3982 19.8319 16.4891C19.7936 16.5801 19.7739 16.6778 19.7739 16.7765C19.7739 16.8752 19.7936 16.9729 19.8319 17.0639C19.8702 17.1548 19.9263 17.2372 19.9969 17.3062C20.1369 17.4441 20.3254 17.5215 20.5219 17.5218C20.721 17.521 20.9123 17.4438 21.0562 17.3062C22.46 15.897 23.2482 13.989 23.2482 11.9999C23.2482 10.0109 22.46 8.10288 21.0562 6.69369ZM17.1788 9.58917C17.2171 9.49821 17.2732 9.41582 17.3438 9.34684C17.4844 9.20658 17.6749 9.12781 17.8735 9.12781C18.0721 9.12781 18.2625 9.20658 18.4031 9.34684C19.105 10.0514 19.4991 11.0054 19.4991 12C19.4991 12.9945 19.105 13.9485 18.4031 14.6531C18.3333 14.7233 18.25 14.7787 18.1581 14.8158C18.0662 14.8528 17.9678 14.8708 17.8688 14.8687C17.7712 14.8707 17.6742 14.8525 17.5839 14.8154C17.4936 14.7783 17.4118 14.7231 17.3438 14.6531C17.2732 14.5841 17.2171 14.5017 17.1788 14.4108C17.1405 14.3198 17.1208 14.2221 17.1208 14.1234C17.1208 14.0247 17.1405 13.927 17.1788 13.836C17.2171 13.7451 17.2732 13.6627 17.3438 13.5937C17.7651 13.1703 18.0017 12.5973 18.0017 12C18.0017 11.4026 17.7651 10.8296 17.3438 10.4062C17.2732 10.3372 17.2171 10.2548 17.1788 10.1639C17.1405 10.0729 17.1208 9.97522 17.1208 9.87652C17.1208 9.77783 17.1405 9.68013 17.1788 9.58917Z" fill="white"/>
          </svg>
          <svg v-else width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1723 2.2547C14.3115 2.23978 14.4521 2.26411 14.5781 2.32493C14.7047 2.38652 14.8114 2.48248 14.886 2.60185C14.9606 2.72122 15.0001 2.85917 15 2.99993V20.9999C15.0001 21.1407 14.9606 21.2787 14.886 21.398C14.8114 21.5174 14.7047 21.6133 14.5781 21.6749C14.4753 21.723 14.3635 21.7486 14.25 21.7499C14.0833 21.75 13.9215 21.6939 13.7906 21.5906L7.2375 16.4999H3C2.60218 16.4999 2.22064 16.3419 1.93934 16.0606C1.65804 15.7793 1.5 15.3978 1.5 14.9999V8.99993C1.5 8.60211 1.65804 8.22058 1.93934 7.93927C2.22064 7.65797 2.60218 7.49993 3 7.49993H7.2375L13.7906 2.40931C13.9009 2.32316 14.0332 2.26961 14.1723 2.2547ZM23.0344 10.2843L21.3094 11.9999L23.0344 13.7156C23.1752 13.8578 23.2542 14.0498 23.2542 14.2499C23.2542 14.4501 23.1752 14.6421 23.0344 14.7843C22.8894 14.9203 22.6988 14.9972 22.5 14.9999C22.3009 14.9991 22.1096 14.9219 21.9656 14.7843L20.25 13.0593L18.5344 14.7843C18.3894 14.9203 18.1988 14.9972 18 14.9999C17.8009 14.9991 17.6096 14.9219 17.4656 14.7843C17.3248 14.6421 17.2458 14.4501 17.2458 14.2499C17.2458 14.0498 17.3248 13.8578 17.4656 13.7156L19.1906 11.9999L17.4656 10.2843C17.346 10.1386 17.2849 9.9536 17.2942 9.76531C17.3034 9.57702 17.3824 9.3989 17.5157 9.2656C17.649 9.1323 17.8271 9.05334 18.0154 9.0441C18.2037 9.03485 18.3887 9.09597 18.5344 9.21557L20.25 10.9406L21.9656 9.21557C22.1114 9.09597 22.2964 9.03485 22.4846 9.0441C22.6729 9.05334 22.851 9.1323 22.9844 9.2656C23.1177 9.3989 23.1966 9.57702 23.2059 9.76531C23.2151 9.9536 23.154 10.1386 23.0344 10.2843Z" fill="white"/>
          </svg>
        </button>
        <live-label class="la-mt-5" style="transform: scale(1.25)" v-if="isLive"/>
      </div>
    </div>
    <div class="la-absolute la-inset-x-0 la-bottom-0 la-z-10 la-py-5 la-px-4 md:la-px-8">
      <logo-white />
    </div>
  </div>
</template>

<script>
import useStreamOverlayMixin from '../../mixins/useStreamOverlayMixin';
import StylistChatMessages from './StylistChatMessages.vue';
import {mapActions} from 'vuex';
export default {
  components: {
    StylistChatMessages
  },
  mixins: [
    useStreamOverlayMixin
  ],
  computed: {
    isEventFinished () {
      return ['finished', 'completed'].includes(this.event?.status);
    },
    event () {
      return this.$store.getters.ACTIVE_EVENT;
    }
  },
  methods: {
    ...mapActions({
      $chooseStylist: 'CHOOSE_STYLIST'
    }),
  },
  props: {
    isMuted: {
      type: Boolean
    },
    isLive: {
      type: Boolean
    }
  }
}
</script>

<style scoped>

</style>
