<template>
  <div class="la-w-full la-h-full la-flex la-justify-center la-items-center la-z-30 la-relative" v-show="showForm">
    <div class="la-bg-white la-w-full la-rounded-xl la-p-4">
      <div class="la-flex la-flex-col la-gap-y-2" v-if="!isLoading">
        <p class="la-text-center la-font-semibold la-uppercase la-text-sm">Join club</p>
        <div class="la-flex la-flex-col la-border la-border-solid la-border-gray-300 la-rounded-lg la-w-full la-p-2">
          <input
              v-model.trim="name"
              type="text"
              placeholder="Enter your name"
              class="la-text-sm  la-outline-none la-border-none"
              maxlength="20"
              autofocus
          >
        </div>
        <div class="la-flex la-flex-col la-border la-border-solid la-border-gray-300 la-rounded-lg la-w-full la-p-2">
          <input
              v-model.trim="phone"
              type="text"
              placeholder="Enter your phone"
              class="la-text-sm  la-outline-none la-border-none"
              maxlength="20"
              autofocus
          >
        </div>
        <div class="la-flex la-flex-col la-border la-border-solid la-border-gray-300 la-rounded-lg la-w-full la-p-2">
          <input
              v-model.trim="email"
              type="email"
              placeholder="Enter your email"
              class="la-text-sm  la-outline-none la-border-none"
              maxlength="20"
              autofocus
          >
        </div>
        <button class="la-cursor-pointer la-p-2 la-rounded-full la-w-full la-text-sm la-bg-black la-text-white la-uppercase" @click="onSubmit">
          Join club
        </button>
      </div>
      <div class="la-flex la-justify-center la-items-center" v-else>
        <loading-spinner />
      </div>
    </div>
  </div>
</template>

<script>
import axiosClient from '../../utils/axiosClient';
import LoadingSpinner from '../utils/LoadingSpinner.vue';

export default {
  components: {LoadingSpinner},
  data: () => ({
    name: '',
    email: '',
    phone: '',
    isLoading: false,
    hasBeenSubmitted: false,
  }),
  computed: {
    showForm () {
      return false;//(!this.hasBeenSubmitted || !!!this.$store.getters.chatName) && (this.currentEvent && this.currentEvent.status === 'active');
    },
    currentEvent () {
      return this.$store.getters.ACTIVE_EVENT;
    }
  },
  methods: {
    async onSubmit () {
      this.isLoading = true;
      const payload = {
        name: this.name,
        phone: this.phone,
        email: this.email,
      };
      await axiosClient.post(`/api/v2/join-club`, payload);
      this.$store.commit('setChatName', this.name);
      this.isLoading = false;
      this.hasBeenSubmitted = true;
      alert('Your application has been submitted!');
    }
  }
}
</script>

<style scoped>

</style>
