<template>
  <div :class="getContainerClasses">
    <div v-show="true" class="la-w-full la-h-full la-bg-black la-flex la-flex-col la-justify-between">
      <div class="la-absolute la-flex la-items-center la-z-999 la-top-5 la-left-5 la-gap-x-2">
        <button
            class="la-border-none la-z-999 la-cursor-pointer la-p-0 la-bg-transparent la-w-4 la-h-6 md:hidden"
            @click="$chooseStylist(null)"
        >
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.707 0.292893C16.0976 0.683417 16.0976 1.31658 15.707 1.70711L9.41418 7.99996L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L7.99997 9.41417L1.70711 15.707C1.31658 16.0976 0.683418 16.0976 0.292894 15.707C-0.0976304 15.3165 -0.0976305 14.6833 0.292894 14.2928L6.58575 7.99996L0.292981 1.70718C-0.0975431 1.31666 -0.0975432 0.683494 0.292981 0.292969C0.683505 -0.0975548 1.31667 -0.0975548 1.70719 0.29297L7.99997 6.58574L14.2928 0.292893C14.6833 -0.0976317 15.3165 -0.0976317 15.707 0.292893Z" fill="white"/>
          </svg>
        </button>
        <button title="Minimize" @click.stop="$setModalState('MINIMIZED')" v-if="isDefaultScreenView"
                class="la-border-none la-bg-transparent la-cursor-pointer la-overflow-hidden la-z-40 md:hidden"
                style="height: 30px; width: 39px;">
          <minimize-icon class="la-object-cover"/>
        </button>
      </div>
      <div style="height: 72%;">
        <div class="la-w-full la-bg-white la-overflow-hidden" :style="[
            {
              height: isDefaultScreenView ? `50%` : `${80 + avatarAdditionalHeight}%`,
            }
        ]">
          <img  :src="streamObject.avatar" :alt="streamObject.title" class="la-w-full la-h-full la-object-cover la-object-top">
        </div>
        <div class="la-bg-red-600 la-p-3" v-if="isDefaultScreenView">
          <p class="la-text-white la-text-center la-font-medium">
            {{ streamObject.stock_text }}
          </p>
        </div>
        <p class="la-text-center la-text-white la-text-2xl la-px-3 la-pt-3 la-pb-1 la-line-clamp-3 la-bg-black" v-if="isDefaultScreenView">
          {{ streamObject.title }}
        </p>
        <p v-if="!isDefaultScreenView"
           class="md:la-line-clamp-2 la-leading-5 la-hidden la-w-full la-text-center la-text-white la-text-2xl la-px-3 la-pt-3 la-pb-1">
          {{ streamObject.title }}
        </p>
        <stream-countdown />
        <p class="la-text-center la-text-white la-py-2 la-font-medium" v-if="isDefaultScreenView">
          {{ streamObject.dates }}
        </p>
      </div>
      <div class="la-flex la-flex-col la-p-3" v-if="isDefaultScreenView">
        <button @click="showShareDialog = true;" class="la-cursor-pointer la-bg-transparent la-w-full la-rounded-full la-border-2 la-border-solid la-border-white la-p-4 la-flex la-items-center la-justify-center la-gap-x-2.5">
          <span class="la-text-white la-font-semibold">
            Share
          </span>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.2806 11.0306L14.7806 18.5306C14.6757 18.6356 14.542 18.7072 14.3965 18.7361C14.2509 18.7651 14.1 18.7503 13.9629 18.6935C13.8258 18.6366 13.7086 18.5404 13.6262 18.417C13.5438 18.2935 13.4999 18.1484 13.5 18V14.2716C8.14688 14.5753 4.47657 18.0469 3.44625 19.1466C3.28447 19.3193 3.07231 19.4367 2.83997 19.4819C2.60764 19.5271 2.36695 19.4979 2.15218 19.3984C1.93741 19.2989 1.75949 19.1342 1.64375 18.9277C1.528 18.7213 1.48032 18.4836 1.5075 18.2484C1.85532 15.2241 3.51188 12.315 6.1725 10.0575C8.38219 8.1825 11.0681 6.99281 13.5 6.78468V3C13.4999 2.85157 13.5438 2.70645 13.6262 2.58301C13.7086 2.45956 13.8258 2.36334 13.9629 2.30653C14.1 2.24971 14.2509 2.23486 14.3965 2.26385C14.542 2.29284 14.6757 2.36436 14.7806 2.46937L22.2806 9.96937C22.3504 10.039 22.4057 10.1217 22.4434 10.2128C22.4812 10.3038 22.5006 10.4014 22.5006 10.5C22.5006 10.5986 22.4812 10.6962 22.4434 10.7872C22.4057 10.8782 22.3504 10.961 22.2806 11.0306Z" fill="white"/>
          </svg>
        </button>
        <button @click="showRSVPModal = true" class="la-cursor-pointer la-bg-white la-w-full la-rounded-full la-border-none la-p-4 la-flex la-items-center la-justify-center la-gap-x-2.5 la-mt-2">
          <span class="la-text-black la-font-semibold">
            RSVP for Exclusive Access
          </span>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.5 3H17.25V2.25C17.25 2.05109 17.171 1.86032 17.0303 1.71967C16.8897 1.57902 16.6989 1.5 16.5 1.5C16.3011 1.5 16.1103 1.57902 15.9697 1.71967C15.829 1.86032 15.75 2.05109 15.75 2.25V3H8.25V2.25C8.25 2.05109 8.17098 1.86032 8.03033 1.71967C7.88968 1.57902 7.69891 1.5 7.5 1.5C7.30109 1.5 7.11032 1.57902 6.96967 1.71967C6.82902 1.86032 6.75 2.05109 6.75 2.25V3H4.5C4.10218 3 3.72064 3.15804 3.43934 3.43934C3.15804 3.72064 3 4.10218 3 4.5V19.5C3 19.8978 3.15804 20.2794 3.43934 20.5607C3.72064 20.842 4.10218 21 4.5 21H19.5C19.8978 21 20.2794 20.842 20.5607 20.5607C20.842 20.2794 21 19.8978 21 19.5V4.5C21 4.10218 20.842 3.72064 20.5607 3.43934C20.2794 3.15804 19.8978 3 19.5 3ZM19.5 8C19.5 8.27614 19.2761 8.5 19 8.5H5C4.72386 8.5 4.5 8.27614 4.5 8V5C4.5 4.72386 4.72386 4.5 5 4.5H6.75V5.25C6.75 5.44891 6.82902 5.63968 6.96967 5.78033C7.11032 5.92098 7.30109 6 7.5 6C7.69891 6 7.88968 5.92098 8.03033 5.78033C8.17098 5.63968 8.25 5.44891 8.25 5.25V4.5H15.75V5.25C15.75 5.44891 15.829 5.63968 15.9697 5.78033C16.1103 5.92098 16.3011 6 16.5 6C16.6989 6 16.8897 5.92098 17.0303 5.78033C17.171 5.63968 17.25 5.44891 17.25 5.25V4.5H19C19.2761 4.5 19.5 4.72386 19.5 5V8Z" fill="black"/>
          </svg>
        </button>
      </div>
    </div>
    <SocialShareDialog :payload="sharePayload" :visible="showShareDialog" @close="showShareDialog = false;"/>
    <RSVPModal :visible="showRSVPModal" @close="showRSVPModal = false;"/>
  </div>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from 'vuex';
import useStreamClientMixin from '../../mixins/useStreamClientMixin';
import MODAL_STATES from '../../contants/MODAL_STATES';
import useChatMixin from '../../mixins/useChatMixin';
import StreamCountdown from './StreamCountdown.vue';
import SocialShareDialog from '../Modals/SocialShareDialog.vue';
import RSVPModal from '../Modals/RSVPModal.vue';

export default {
  components: {RSVPModal, StreamCountdown, SocialShareDialog},
  data: () => ({
    showShareDialog: false,
    showRSVPModal: false,
  }),
  mixins: [useStreamClientMixin, useChatMixin],
  computed: {
    ...mapGetters({
      'streamObject': 'ACTIVE_EVENT',
      'currentModalState': 'CURRENT_MODAL_STATE',
    }),
    avatarAdditionalHeight () {
      return window.innerWidth > 550 ? 5 : 0;
    },
    isDefaultScreenView () {
      return this.currentModalState === 'DEFAULT';
    },
    sharePayload () {
      return {
        title: this.event.title,
        url: this.event.external_url,
        description: `${this.event.title} ${this.event.external_url}`,
        hashtags: ['localaway']
      };
    },
    getContainerClasses() {
      const defaultClasses = ['la-bg-white', 'la-overflow-hidden', 'la-stream__wrapper', 'la-relative'];
      let additionalClasses = [];
      switch (this.currentModalState) {
        case MODAL_STATES.DEFAULT:
          additionalClasses = [
            'la-rounded-2xl', 'la-w-full', 'la-default_planned_stream'
          ];
          break;
        case MODAL_STATES.FULLSCREEN:
          additionalClasses = [
            'la-w-full', 'md:la-w-3/4', 'md:la-h-screen', 'la-h-full',
          ];
          break;
        case MODAL_STATES.MINIMIZED:
          additionalClasses = [
            'la-rounded-2xl', 'la-w-full', 'la-h-full', 'border-2', 'border-solid', 'border-white', 'rounded-xl'
          ];
          break;
        default:
          break;
      }

      return [...defaultClasses, ...additionalClasses];
    }
  },
  async mounted() {

  },
  beforeDestroy() {
  },
  methods: {
    ...mapMutations({
      '$setModalState': 'SET_MODAL_STATE',
    }),
    ...mapActions({
      $chooseStylist: 'CHOOSE_STYLIST',
    }),
    expandFullScreen () {
      if (this.currentModalState === MODAL_STATES.DEFAULT) {
        this.$setModalState(MODAL_STATES.FULLSCREEN);
      } else {
        this.$setModalState(MODAL_STATES.DEFAULT);
      }
    },
  }
}
</script>

<style scoped>
.la-stream__wrapper {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.la-default_planned_stream {
  width: 100%;
  height: 100%;
  background: #000;
}

.la-h-420px {
  height: 420px;
}

.la-h-200px {
  height: 200px;
}

.la-h-400px {
  height: 400px;
}
</style>
