<template>
  <div class="la-h-full">
    <div v-if="isLoading" class="la-w-full la-h-full la-flex la-justify-center la-items-center la-bg-white la-rounded-2xl">
      <loading />
    </div>
    <div v-if="stream.status !== 'planned' && !isLoading" :class="getContainerComputedStyles">
      <stylist-c-t-a
          :class="{' la-rounded-none md:la-rounded-xl la-block md:la-hidden': currentModalState === 'FULLSCREEN'}"
          v-show="['DEFAULT', 'FULLSCREEN'].includes(currentModalState)"
          v-if="stream.products.length > 0 && stream.status === 'active'"
      />
      <stylist-stream />
      <stylist-chat v-if="['DEFAULT', 'FULLSCREEN'].includes(currentModalState)"/>
    </div>
    <div v-if="stream.status === 'planned' && !isLoading" :class="getContainerComputedStyles">
      <stylist-planned-card />
    </div>
  </div>
</template>

<script>
import StylistStream from './StylistStream.vue';
import StylistChat from './StylistChat.vue';
import StylistCTA from './StylistCTA.vue';
import {mapGetters} from 'vuex';
import MODAL_STATES from '../../contants/MODAL_STATES';
import StylistPlannedCard from './StylistPlannedCard.vue';
import axiosClient from '../../utils/axiosClient';
export default {
  components: {
    StylistPlannedCard,
    StylistStream, StylistChat, StylistCTA
  },
  data: () => ({
    isLoading: true,
  }),
  computed: {
    ...mapGetters({
      'currentModalState': 'CURRENT_MODAL_STATE',
      stream: 'ACTIVE_EVENT',
    }),
    streamId () {
      return this.stream?.id;
    },
    getContainerComputedStyles () {
      const defaultClasses = ['la-w-full', 'la-h-full', 'la-flex'];
      let additionalClasses = [];
      switch (this.currentModalState) {
        case MODAL_STATES.DEFAULT:
          additionalClasses = ['la-flex-col', 'la-gap-y-1'];
          break;
        case MODAL_STATES.FULLSCREEN:
          additionalClasses = ['la-flex-col', 'md:la-flex-row', 'md:la-flex', 'la-grid', 'la-grid-columns'];
          break;
        case MODAL_STATES.MINIMIZED:
          additionalClasses = ['la-flex-col', 'la-gap-y-0'];
          break;
      }
      return [...defaultClasses, ...additionalClasses];
    },
  },
  methods: {
    async _getStreamActual () {
      const { data: { data } } = await axiosClient.get(`/api/v2/video-stream/by-channel/${this.stream.channel}`);
      const stream = data.stream;
      if (this.stream?.status !== stream.status && stream.status === 'active') {
        this.$store.commit('STREAM_WAS_STARTED', stream);
      }

      if (this.stream?.status !== stream.status && stream.status === 'finished') {
        this.$store.commit('SET_STREAM_FINISHED', stream);
      }
    },
  },
  watch: {
    streamId: {
      immediate: true,
      handler: async function (value) {
        if (value) {
          this.isLoading = true;
          await this._getStreamActual();
          this.isLoading = false;
        }
      }
    }
  }
}
</script>

<style scoped>
.la-grid-columns {
  grid-template-rows: 88px 1fr 91px;
}
</style>
