<template>
  <div :class="getWrapperClasses" v-show="true">
    <div
        class="la-p-4 md:la-block la-hidden"
        style="background: #F0F0F5"
        v-show="currentModalState === 'FULLSCREEN'"
        v-if="event.products.length > 0"
    >
      <stylist-c-t-a  />
    </div>
    <div :class="getContainerClasses">
      <div class="la-flex la-justify-between la-items-center">
        <div class="la-flex la-items-center la-gap-x-2">
          <div class="la-overflow-hidden la-rounded-full" style="height: 30px; width: 30px;">
            <img :src="stylist.avatar" :alt="stylist.name" class="la-w-full la-h-full la-object-contain">
          </div>
          <div class="la-flex la-flex-col">
            <p class="la-font-bold" style="font-size: 13px; line-height: 16px;">{{ stylist.name }}</p>
            <p
                class="la-font-semibold"
                style="font-size: 10px; line-height: 13px;"
                :class="[isLive ? 'la-text-green-500' : 'la-text-blue-500']"
            >
              {{ isLive ? 'ONLINE' : 'OFFLINE' }}
            </p>
          </div>
        </div>
        <a href="#" class="la-cursor-pointer la-w-8 la-h-8 la-flex la-justify-center la-items-center" v-if="currentModalState === 'DEFAULT' && false" @click.prevent="showChat = !showChat">
          <svg
              class="la-transition la-transition-all la-duration-300"
              :class="[showChat ? '' : 'la-transform la-rotate-180']"
              width="16"
              height="9"
              viewBox="0 0 16 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
          >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.29289 0.292893C7.68342 -0.0976314 8.31658 -0.0976315 8.70711 0.292893L15.7071 7.29289C16.0976 7.68342 16.0976 8.31658 15.7071 8.70711C15.3166 9.09763 14.6834 9.09763 14.2929 8.70711L8 2.41421L1.70711 8.70711C1.31658 9.09763 0.683418 9.09763 0.292894 8.70711C-0.0976307 8.31658 -0.0976308 7.68342 0.292894 7.29289L7.29289 0.292893Z" fill="black"/>
          </svg>
        </a>
      </div>
      <div class="la-hidden md:la-block la-pt-4 la-pb-2 la-flex-1 la-overflow-hidden la-overflow-scroll-y lclwy-hidden-scroll" v-if="currentModalState === 'FULLSCREEN' && showEventChat">
        <div
            ref="chatContent1"
            class="la-flex la-flex-col-reverse la-items-start la-gap-y-2.5 la-overflow-y-scroll lclwy-hidden-scroll la-w-full la-pb-2 la-pointer-events-auto la-h-full"
        >
          <chat-message v-for="message of messages" :key="message.id" :message="message"/>
        </div>
      </div>
      <transition name="collapse" mode="in-out" v-if="showEventChat">
        <div
            class="la-mt-3 la-pointer-events-all localaway-input-wrapper la-flex la-items-center"
            v-show="showChat || currentModalState === 'FULLSCREEN'"
            @click="onFocusHandler"
        >
          <textarea
              ref="messageInput"
              type="text"
              placeholder="Ask me everything..."
              v-model="message"
              class="la-pointer-events-auto la-outline-none la-border-none la-w-full la-flex-1"
              @keyup.enter="sendMessage"
              style="resize: none;"
              rows="1"
          />
          <button @click.stop="sendMessage" class="la-bg-transparent la-border-none la-cursor-pointer">
            <send-icon />
          </button>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from 'vuex';
import MODAL_STATES from '../../contants/MODAL_STATES';
import StylistCTA from './StylistCTA.vue';
import LoginModal from './LoginModal.vue';
import STREAM_STATUS from '../../contants/STREAM_STATUS';
import ChatMessage from './Chat/ChatMessage.vue';

export default {
  components: {ChatMessage, LoginModal, StylistCTA},
  data: () => ({
    showChat: true,
    message: '',
    loginModal: false,
  }),
  computed: {
    ...mapGetters({
      'stylist': 'CHOSEN_STYLIST',
      'event': 'ACTIVE_EVENT',
      'currentModalState': 'CURRENT_MODAL_STATE',
      'chatName': 'chatName'
    }),
    messages() {
      return this.$store.getters.messagesByChannel(this.event.channel);
    },
    isLive () {
      return this.event?.status === 'active';
    },
    getWrapperClasses () {
      const defaultClasses = ['la-bg-white', 'la-overflow-hidden', 'localaway-chat__wrapper'];
      let additionalClasses = [];
      switch (this.currentModalState) {
        case MODAL_STATES.DEFAULT:
          additionalClasses = [
            'la-w-full', 'la-rounded-2xl', 'la-justify-start', 'la-flex-shrink-0',
          ];
          break;
        case MODAL_STATES.FULLSCREEN:
          additionalClasses = [
            'la-w-full', 'md:la-w-1/3', 'md:la-h-screen', 'md:la-max-h-screen', 'la-flex', 'la-flex-col',
          ];
          break;
        case MODAL_STATES.MINIMIZED:
          additionalClasses = [
            'la-hidden',
          ];
          break;
        default:
          break;
      }
      return [...defaultClasses, ...additionalClasses];
    },
    getContainerClasses() {
      const defaultClasses = ['la-w-full', 'la-bg-white', 'la-overflow-hidden', 'la-localaway-chat__wrapper', 'la-py-2.5', 'la-px-3.5', 'la-flex', 'la-flex-col'];
      let additionalClasses = [];
      switch (this.currentModalState) {
        case MODAL_STATES.DEFAULT:
          additionalClasses = [
            'la-rounded-xl', 'la-justify-start',
          ];
          break;
        case MODAL_STATES.FULLSCREEN:
          additionalClasses = [
            'la-h-full', 'la-justify-between', 'la-flex-1'
          ];
          break;
        case MODAL_STATES.MINIMIZED:
          additionalClasses = [
            'la-hidden',
          ];
          break;
        default:
          break;
      }

      return [...defaultClasses, ...additionalClasses];
    },
    showEventChat () {
      return this.event.status === STREAM_STATUS.ACTIVE;
    },
  },
  methods: {
    ...mapActions({
      '$sendMessage': 'sendMessage',
    }),
    ...mapMutations({
      '$setChatName': 'setChatName',
      '$setShowLoginModal': 'setShowLoginModal',
    }),
    onFocusHandler () {
      if (!this.chatName) {
        this.$setShowLoginModal(true);
      } else {
        this.$refs.messageInput.focus();
      }
    },
    async sendMessage () {
      if (this.message.trim().length > 0) {
        const message_text = this.message;
        this.message = '';
        try {
          await this.$sendMessage({
            channel: this.event?.channel,
            message_text,
            title: this.chatName,
            email: 'user@vibe.com',
            source: 'Web'
          });
        } catch (e) {

        }
      }
    }
  },
  watch: {
    messages () {
      const chatContainer = this.$refs.chatContent1;
      if (chatContainer) {
        setTimeout(() => {
          chatContainer.scrollTop = chatContainer.scrollHeight;
        }, 200);
      }
    }
  }
}
</script>

<style scoped >
.localaway-chat__wrapper {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
</style>
