<template>
  <div
      @click="onStylistChose"
      class="
        la-stylist-icon-wrapper
        la-cursor-pointer
      "
      :title="isThisStylistChosen ? 'Close stream window' : stylist.name"
      style="border-style: solid; border-width: 2px;"
      :class="[isThisStylistChosen ? 'la-flex la-justify-center la-items-center' : 'la-border-white la-border-2 localaway-stylist__icon']"
  >
    <div
        class="la-w-3 la-h-3 la-bg-red-600 la-border-white la-border-2 la-rounded-full la-absolute la-top-0 la-left-0"
        v-if="!isThisStylistChosen && stylist.is_online"
    />
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="isThisStylistChosen">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M15.707 0.292893C16.0976 0.683417 16.0976 1.31658 15.707 1.70711L9.41418 7.99996L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L7.99997 9.41417L1.70711 15.707C1.31658 16.0976 0.683418 16.0976 0.292894 15.707C-0.0976304 15.3165 -0.0976305 14.6833 0.292894 14.2928L6.58575 7.99996L0.292981 1.70718C-0.0975431 1.31666 -0.0975432 0.683494 0.292981 0.292969C0.683505 -0.0975548 1.31667 -0.0975548 1.70719 0.29297L7.99997 6.58574L14.2928 0.292893C14.6833 -0.0976317 15.3165 -0.0976317 15.707 0.292893Z" fill="white"/>
    </svg>
    <div class="la-w-full la-h-full la-rounded-full la-overflow-hidden" v-show="!isThisStylistChosen">
      <img :src="stylist.avatar" :alt="stylist.name" class="la-w-full la-h-full la-object-cover la-select-none">
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';

export default {
  data: () => ({}),
  computed: {
    ...mapGetters({
      'chosenStylist': 'CHOSEN_STYLIST'
    }),
    isThisStylistChosen () {
      return this.chosenStylist && this.chosenStylist.id === this.stylist.id;
    }
  },
  methods: {
    ...mapActions({
      '$chooseStylist': 'CHOOSE_STYLIST'
    }),
    onStylistChose () {
      const payload = this.isThisStylistChosen ? null : this.stylist;
      this.$chooseStylist(payload);
    }
  },
  props: {
    stylist: {
      type: Object
    }
  }
}
</script>

<style scoped>
.localaway-stylist__icon {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.la-stylist-icon-wrapper {
  width: 100px;
  height: 100px;
  border: 3px solid #FAFAFC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  background: #000;
}

@media (max-width: 550px) {
  .la-stylist-icon-wrapper {
    width: 80px;
    height: 80px;
  }
}
</style>
