<template>
  <div
      class="la-absolute la-inset-x-0 la-bottom-16 la-px-2.5 la-z-10 lclwy-hidden-scroll"
      v-if="showChat"
  >
    <div
        ref="chatContent1"
        class="la-w-3/4 la-flex la-flex-col-reverse la-items-start la-gap-y-1 la-overflow-y-scroll lclwy-hidden-scroll la-w-full la-pb-2 la-pointer-events-auto"
        :style="{
              ...opacityMaskStyles,
              height: currentModalState === 'DEFAULT' ? '120px' : '35vh'
            }"
    >
      <chat-message v-for="message of messages" :key="message.id" :message="message" />
    </div>
  </div>
</template>

<script>
import STREAM_STATUS from '../../contants/STREAM_STATUS';
import ChatMessage from './Chat/ChatMessage.vue';

export default {
  components: {ChatMessage},
  data: () => ({
    opacityMaskStyles: {
      maskImage: 'linear-gradient(transparent 0%, black 30%)',
      maskMode: 'alpha',
    },
  }),
  computed: {
    event() {
      return this.$store.getters.ACTIVE_EVENT;
    },
    messages() {
      return this.$store.getters.messagesByChannel(this.event.channel);
    },
    currentModalState () {
      return this.$store.getters.CURRENT_MODAL_STATE;
    },
    showChat () {
      return this.event.status === STREAM_STATUS.ACTIVE;
    }
  },
  methods: {},
  watch: {
    messages() {
      const chatContainer = this.$refs.chatContent1;
      if (chatContainer) {
        setTimeout(() => {
          chatContainer.scrollTop = chatContainer.scrollHeight;
        }, 200);
      }
    }
  }
}
</script>

<style scoped>

</style>
