<template>
  <div
      v-show="hasStylists"
      class="la-fixed la-bottom-16 la-flex-col md:la-z-50 la-z-30 la-items-center"
      :class="
      [
          `la-${pluginPosition}-4 md:la-${pluginPosition}-8`,
           (chosenStylist !== null && isMobile) ? 'la-hidden' : 'la-flex'
      ]"
  >
    <div
        v-for="(stylist, key) of stylists"
        :key="key"
        :class="{'-la-mt-2': key > 0}"
    >
      <stylist-icon  :stylist="stylist"/>
    </div>
    <div class="la-flex la-justify-center la-absolute la-w-full -la-bottom-2">
      <svg width="90" height="24" viewBox="0 0 90 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="90" height="24" rx="12" fill="white"/>
        <path d="M15.92 18V15.936H12.848V6.528H10.736V18H15.92ZM20.029 18.176C22.029 18.176 23.341 17.072 23.341 14.688V9.872C23.341 7.52 22.029 6.384 20.029 6.384C18.029 6.384 16.717 7.52 16.717 9.872V14.688C16.717 17.104 17.981 18.176 20.029 18.176ZM20.029 16.256C19.181 16.256 18.861 15.696 18.861 14.528V9.968C18.861 8.8 19.181 8.224 20.029 8.224C20.861 8.224 21.197 8.768 21.197 9.968V14.528C21.197 15.696 20.861 16.256 20.029 16.256ZM27.824 18.176C29.92 18.176 31.104 17.168 31.12 14.752V13.136H28.912V14.608C28.912 15.712 28.656 16.24 27.84 16.24C26.992 16.24 26.736 15.696 26.736 14.528V9.952C26.736 8.784 26.992 8.224 27.824 8.224C28.704 8.224 28.912 8.656 28.912 9.856V11.104H31.104V9.696C31.104 7.392 30.032 6.368 27.84 6.368C25.84 6.368 24.592 7.472 24.592 9.824V14.688C24.592 17.104 25.696 18.176 27.824 18.176ZM35.0368 10.672L35.1648 9.072L35.2928 10.672L36.0448 14.496H34.3168L35.0368 10.672ZM36.7328 18H38.7968L36.1888 6.528H34.1248L31.5808 18H33.6448L33.9648 16.304H36.3968L36.7328 18ZM44.8263 18V15.936H41.7543V6.528H39.6423V18H44.8263ZM46.4284 20.064C48.0124 19.936 48.7324 18.928 48.7324 17.184C48.7324 15.792 48.4284 15.488 47.4844 15.488C46.5724 15.488 46.2524 15.744 46.2524 16.816C46.2524 17.888 46.5564 18.08 47.2604 18.08C47.3404 18.08 47.4044 18.08 47.4844 18.064C47.4044 18.64 47.0524 18.96 46.4284 19.04V20.064ZM53.0368 10.672L53.1648 9.072L53.2928 10.672L54.0448 14.496H52.3168L53.0368 10.672ZM54.7328 18H56.7968L54.1888 6.528H52.1248L49.5808 18H51.6448L51.9648 16.304H54.3968L54.7328 18ZM61.341 11.616L61.469 9.808L61.597 11.616L62.797 18H64.685L66.701 6.528H64.733L63.741 12.912L63.597 15.152L63.405 13.04L62.189 6.528H60.813L59.517 13.04L59.293 15.008L59.213 12.912L58.333 6.528H56.349L58.157 18H60.061L61.341 11.616ZM69.6774 10.672L69.8054 9.072L69.9334 10.672L70.6854 14.496H68.9574L69.6774 10.672ZM71.3734 18H73.4374L70.8294 6.528H68.7654L66.2214 18H68.2854L68.6054 16.304H71.0374L71.3734 18ZM76.9644 18V13.888L79.3804 6.528H77.2524L76.0524 10.688L75.9244 11.664L75.7964 10.688L74.6444 6.528H72.5004L74.8364 13.888V18H76.9644Z" fill="black"/>
      </svg>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import StylistIcon from './StylistIcon.vue';

export default {
  components: {StylistIcon},
  data: () => ({
    showStylistModal: false,
  }),
  methods: {
    ...mapActions({
      '$chooseStylist': 'CHOOSE_STYLIST'
    }),
  },
  computed: {
    ...mapGetters({
      'chosenStylist': 'CHOSEN_STYLIST',
      'pluginPosition': 'PLUGIN_POSITION'
    }),
    stylists () {
      return this.$store.getters.STYLISTS;
    },
    hasStylists () {
      return this.stylists && this.stylists.length > 0;
    },
    isMobile () {
      return window.innerWidth <= 550;
    }
  },
}
</script>

<style scoped>
.la-hidden {
  display: none;
}
</style>
