<template>
  <div :class="getContainerClasses">
    <div class="la-w-full la-h-full la-flex la-justify-center la-items-center" v-if="!isStreamReady">
      <loading />
    </div>
    <div v-show="isStreamReady" class="la-w-full la-h-full la-bg-black la-relative">
      <inactive-stream-placeholder v-if="!isStreamLive" :stream="streamObject"/>
      <stream-overlay-full-screen
          v-if="currentModalState === 'FULLSCREEN'"
          :is-muted="isParticipantMuted(hostUid)"
          @mute="handleMute"
          :is-live="isStreamLive"
      />
      <stream-overlay
          v-else
          :is-muted="isParticipantMuted(hostUid)"
          @mute="handleMute"
          :is-live="isStreamLive"
      />
      <div
          id="agora_remote"
          class="la-h-full la-w-full"
      />
    </div>
  </div>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex';
import axiosClient from '../../utils/axiosClient';
import {__hardcoded} from '../../utils/helpers';
import useStreamClientMixin from '../../mixins/useStreamClientMixin';
import StreamOverlay from './StreamOverlay.vue';
import StreamOverlayFullScreen from './StreamOverlayFullScreen.vue';
import MODAL_STATES from '../../contants/MODAL_STATES';
import STORAGE_KEYS from '../../contants/STORAGE_KEYS';
import useChatMixin from '../../mixins/useChatMixin';
import InactiveStreamPlaceholder from './InactiveStreamPlaceholder.vue';
import STREAM_STATUS from '../../contants/STREAM_STATUS';

export default {
  components: {StreamOverlay, StreamOverlayFullScreen, InactiveStreamPlaceholder},
  data: () => ({
    isStreamReady: false,
    isAudioMuted: true,
    isStreamLive: false,
    isCurrentlyMuted: localStorage.getItem(STORAGE_KEYS.IS_STREAM_MUTED) === null,
  }),
  mixins: [useStreamClientMixin, useChatMixin],
  computed: {
    ...mapGetters({
      'streamObject': 'ACTIVE_EVENT',
      'currentModalState': 'CURRENT_MODAL_STATE',
    }),
    getContainerClasses() {
      const defaultClasses = ['la-bg-white', 'la-overflow-hidden', 'la-stream__wrapper', 'la-relative'];
      let additionalClasses = [];
      switch (this.currentModalState) {
        case MODAL_STATES.DEFAULT:
          additionalClasses = [
            'la-rounded-2xl', 'la-w-full', 'la-h-420px'
          ];
          break;
        case MODAL_STATES.FULLSCREEN:
          additionalClasses = [
              'la-w-full', 'md:la-w-3/4', 'md:la-h-screen', 'la-h-full',
          ];
          break;
        case MODAL_STATES.MINIMIZED:
          additionalClasses = [
            'la-rounded-2xl', 'la-w-full', 'la-h-400px', 'border-2', 'border-solid', 'border-white', 'rounded-xl'
          ];
          break;
        default:
          break;
      }

      return [...defaultClasses, ...additionalClasses];
    }
  },
  async mounted() {
    this.$on('stream:started', () => {
      this.isStreamLive = true;
      if (!this.isCurrentlyMuted) {
        this.unMuteStream();
      }
      this.$store.commit('SET_ACTIVE_EVENT', {
        ...this.streamObject,
        status: STREAM_STATUS.ACTIVE,
      })
    })
    this.$on('stream:finished', () => { this.isStreamLive = false; })
    await this._resetAndRejoinStream();
    await this._initChat(this.streamObject.channel);
    await this._initViewers();
  },
  beforeDestroy() {
    this.leaveAndDestroyStream();
  },
  methods: {
    ...mapMutations({
      '$setModalState': 'SET_MODAL_STATE'
    }),
    expandFullScreen () {
      if (this.currentModalState === MODAL_STATES.DEFAULT) {
        this.$setModalState(MODAL_STATES.FULLSCREEN);
      } else {
        this.$setModalState(MODAL_STATES.DEFAULT);
      }
    },
    isParticipantMuted (uid) {
      return this.isMuted(uid) ?? false;
    },
    async _resetAndRejoinStream () {
      this.isStreamReady = false;
      this.stream = {...this.streamObject};
      this.partner = this.stream?.partner;
      this.streamChannelName = this.stream.channel;
      let uid = 0;
      let token = 'some-invalid-token';
      if (this.streamCouldBeJoinedBy) {
        const { data: { data } } = await axiosClient.get('/api/v2/video-stream/' + this.streamChannelName + '/authorize-force-audience');
        uid = data.rtc_auth.uid;
        token = data.rtc_auth.token;
      }
      // init stream manager
      await this._initStream({
        uid,
        token,
        role_verbose: __hardcoded('subscriber'),
      });
      //
      this.streamCouldBeJoinedBy && await this.joinStream();
      setTimeout(() => {
        this.isStreamReady = true;
      }, 1000);
    },
    handleMute () {
      Object.keys(this.participants).forEach((uid) => {
        this.muteToggle(uid);
      });
    },
    unMuteStream () {
      Object.keys(this.participants).forEach((uid) => {
        this.muteToggle(uid, false);
      });
    },
  }
}
</script>

<style scoped>
.la-stream__wrapper {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.la-h-420px {
  height: 600px;
}

.la-h-200px {
  height: 200px;
}

.la-h-400px {
  height: 400px;
}
</style>
