<template>
  <div :class="getContainerComputedStyles">
    <stylist-c-t-a
        :class="{' la-rounded-none md:la-rounded-xl la-block md:la-hidden': currentModalState === 'FULLSCREEN'}"
        v-show="['DEFAULT', 'FULLSCREEN'].includes(currentModalState)"
        v-if="currentEvent.products.length > 0"
    />
    <stylist-video />
  </div>
</template>

<script>
import StylistStream from './StylistStream.vue';
import StylistChat from './StylistChat.vue';
import StylistCTA from './StylistCTA.vue';
import {mapGetters} from 'vuex';
import MODAL_STATES from '../../contants/MODAL_STATES';
import StylistVideo from './StylistVideo.vue';
export default {
  components: {
    StylistVideo,
    StylistStream, StylistChat, StylistCTA
  },
  data: () => ({}),
  computed: {
    ...mapGetters({
      'currentModalState': 'CURRENT_MODAL_STATE',
      currentEvent: 'ACTIVE_EVENT',
    }),
    getContainerComputedStyles () {
      const defaultClasses = ['la-w-full', 'la-h-full', 'la-flex'];
      let additionalClasses = [];
      switch (this.currentModalState) {
        case MODAL_STATES.DEFAULT:
          additionalClasses = ['la-flex-col', 'la-gap-y-1'];
          break;
        case MODAL_STATES.FULLSCREEN:
          additionalClasses = ['la-flex-col', 'md:la-flex-row', 'md:la-flex', 'la-grid', 'la-grid-columns'];
          break;
        case MODAL_STATES.MINIMIZED:
          additionalClasses = ['la-flex-col', 'la-gap-y-0'];
          break;
      }
      return [...defaultClasses, ...additionalClasses];
    },
  },
  methods: {}
}
</script>

<style scoped>
.la-grid-columns {
  grid-template-rows: 88px 1fr 91px;
}
</style>
