<template>
  <div
      style="z-index: 100000;"
      v-if="messages.length > 0"
      class="la-fixed la-right-0 md:la-mt-4 md:la-mr-8 la-z-100 la-w-full md:la-w-auto la-text-center"
      :style="_getStyles"
  >
    <transition-group>
      <div
          v-for="(message, index) in messages"
          :key="index"
          class="md:la-max-w-lg la-w-full md:la-w-auto la-py-2 md:la-py-4 md:la-px-8 md:la-rounded-lg la-text-white md:la-mb-2 la-text-xs md:la-text-sm"
          :class="getClasses(message)"
      >
        {{ message.text }}
      </div>
    </transition-group>
  </div>
</template>

<script>
import TOAST_TYPES from '../../contants/TOAST_TYPES';
export default {
  name: 'Notification',
  data () {
    return {
      messages: []
    }
  },
  computed: {
    _getStyles () {
      return {
        top: '0px'
      }
    }
  },
  created () {
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'showToast') {
        this.messages.push({
          text: state.core.toast_text,
          type: state.core.toast_type,
        })

        setTimeout(() => { this.messages.shift() }, 3000)
      }
    });
  },
  methods: {
    getClasses ({ type }) {
      switch (type) {
        case TOAST_TYPES.SUCCESS:
          return 'la-bg-green-500';
        case TOAST_TYPES.WARNING:
          return 'la-bg-yellow-400';
        case TOAST_TYPES.ERROR:
          return 'la-bg-red-500';
        default:
          return 'la-bg-blue-500';
      }
    }
  }
}
</script>

<style>
.popup{
  animation: popup 0.2s;
}

.shake {
  animation: shake 0.3s;
}

@keyframes popup {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes shake {
  0% {
    transform: translateX(100%);
  }

  10%, 60% {
    transform: rotate(0deg);
  }

  20%, 70% {
    transform: rotate(5deg);
  }

  30%, 80% {
    transform: rotate(-0deg);
  }

  40%, 90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: translateX(0%);
  }
}
</style>
